[2020-11-27 20:51] #811 closed

[2020-11-27 20:55] dickens commented on #809
I do not understand what you mean by "calls sigstop".  SIGSTOP is a symbolic name for a specific signal value--it isn't a function to "call".

In any case, the `libusb_init()` function does not send any signals, and as far as I know none of the functions that it calls will do so either.  If you are seeing this behavior, something else in your code is trapping one of the calls that libusb is making

[2020-11-27 20:55] #809 closed

[2020-11-28 05:56] #151 closed

[2020-11-28 06:06] dickens commented on #618
I've officially started the 1.0.24 release with rc1 available [here](https://github.com/libusb/libusb/releases/tag/v1.0.24-rc1).  I'll send out the announcement to the libusb-devel mailing list shortly.

[2020-11-29 16:41] jankae commented on #807
Yes, that is exactly what I am doing on Linux but can't get to work on Windows:
* With WinUSB I can not open the same device twice (this behavior is documented and apparently a limitation of the WinUSB backend)
* With libusbk I can claim the interface twice (libusb API says that this should not be possible)

[2020-11-29 18:35] diabolo38 commented on #807
unfortunately it doesn't work with winsub :(
 just tried it got same issue second open fail with LIBUSB_ERROR_ACCESS = -3,
log for failure is attached

[log.txt](https://github.com/libusb/libusb/files/5612628/log.txt)

[2020-11-30 06:34] MarkoTurunen opened #812 ".gitattributes causes bocus changes to files and prevents old version checkout with tag"
On Linux (not sure about Windows) there are many bocus changes reported right after new clone. Reason for this behavior seems to be quite recent addition of `.gitattributes` file. This prevents checking out specific release using tag, because git thinks that there are uncommitted changes on work area.

- `git restore .` does not help
- `git reset --hard` does not help
- `git stash` does not help

[2020-11-30 08:28] LudovicRousseau commented on #812
I also have the problem on macOS.
I just did a `git merge upstream/master` and now I have modified files I can fix.
[code]

it looks like the problem is with end of line encoding. I do not see other changes from `git diff`.

I have no idea why some files do not have the problem like `xusb_2019.vcxproj` in the same directory.

The `.gitattributes` file is quiet old (initial commit in 2011). Maybe t

[2020-11-30 08:35] diabolo38 commented on #812
I have similar issues on cross platform project mixing dos/unix files , checkout/in in linux or mac killing dos files or creating full file change due to eol.
one solution is to force gitconfig core.autocrlf=false
developer must also take care to configure their editor to use correct cr/lf when configurable.
option to ommit white space diff also help

[2020-11-30 11:25] ev-mp commented on #812
Hello, the change introduced in v1.0.24  breaks compatibility with Cmake, and more specifically with its **`ExternalProject_Add** API.

I'm one of the maintainers of [Librealsense](https://github.com/IntelRealSense/librealsense) and we encountered this issues as well. In our case, however, `libusb` is added into the project using CMake's `ExternalProject_Add` command so there is no way to work-aro

[2020-11-30 13:22] MarkoTurunen commented on #812
True, I used `git blame` and misread the times there. Probably new version of git then. Anyways as mentioned above, this breaks CMake `ExternalProject_Add` API when using `GIT_TAG`.

[2020-11-30 19:18] #812 closed

[2020-12-02 12:30] banchanKiroHashtaag opened #814 "No Bulk IN Endpoint listed"
**#Edit:**

**My aim is to create a serial communication program between the host and the device. I realised after reading the USB specifications that it is not the Bulk Transfer, but rather the Isochronous Transfer, that has to be used. But, again, I do not see any Isochronous Endpoints.**

**In a previous experiment, I did make a simple serial communication, using the linux read() write(), which

[2020-12-02 17:27] misanthropos opened #815 "Attempting to flash older Samsung S4 android phones get bulk transfer errors -7"
This is just an assumption:

I believe there has been a regression in the last 1.5 years. But I can not pinpoint it to either the kernel or libusb or heimdall. It has become impossible to flash a Samsung android S4 mini with alternative recovery.img because of empty bulk transfers (error -7). It worked before. And I found a solution (Forget Windows Use Linux iso image which is about 3 years old)
I

[2020-12-03 06:03] chaitanya77185 opened #816 "Libusb bulk stream examples"
Hi,

I want to write a host applications which will use bulk streams to send and receive data.
But I didn't find reference how to use the bulk stream api's.

Can you provide a example which use bulk streams to transmit and receive data.

Thanks in advance.

Thanks & Regards,
Krishna Chaitanya.

[2020-12-03 19:14] coffeenotfound commented on #86
Kinda a massive deal breaker for a cross platform usb library to not actually be cross platform. Having to manually install a custom device driver using zadig and now this... Come on

[2020-12-03 19:17] whitequark commented on #86
To the extent that this is necessary, it is purely a result of Microsoft's policies. (However, libusb can use the WinUSB backend, and devices that opt into it with a special descriptor do not require using Zadig.)

[2020-12-03 19:26] dickens commented on #816
This is not an issue with the library, so I am closing this.  Please use the libusb-devel mailling list for such questions.

[2020-12-03 19:26] dickens commented on #815
Please provide a debug log.

[2020-12-03 19:33] dickens commented on #814
Please provide the descriptors.  You can use `lsusb -v -d 0x0ab1:0x0007`.

[2020-12-03 19:34] dickens commented on #804
Still waiting for the debug log.

[2020-12-04 07:14] mcuee commented on #814
Endpoint IN: 0x00
This is not valid.

Are you developing the firmware for your device?

[2020-12-04 07:21] mcuee commented on #815
https://gitlab.com/BenjaminDobell/Heimdall/-/issues/526

It seems to me Heimdall is still under active development.

[2020-12-04 09:08] misanthropos commented on #815
Check:

https://gitlab.com/BenjaminDobell/Heimdall

No Changes for 3 years. Yes - many issues an PRs but none answered.

[2020-12-04 09:10] misanthropos commented on #815
@dickens The second link @mcuee supplied shows a similar log. I can create a log too, but it will look the same.

[2020-12-04 13:46] Timmmm commented on #86
True, though it would be nice if libusb integrated libzadig so it could provide an easy way to install the WinUSB drivers if necessary. It could do the same for the udev rules you have to set up on Linux.

Admittedly that would require some new APIs, design work, etc. Given that we still don't have hotplug on Windows after all these years - and I don't recall it being too difficult to implement -

[2020-12-04 19:36] dickens commented on #86
Registering for notifications is trivial--it is fitting those notifications into the library that is "difficult".  The whole situation is complicated by the fact that each interface of a composite device has its own driver and associated device interface path.  The bookkeeping of mapping the individual interfaces to libusb's representation of a device while also maintaining the topology of the USB

[2020-12-05 01:59] XanaduAPI commented on #717
首先，你需要 用  Android Studio 构建一个 Android 项目
然后，你需要申请此App 运行时的权限

![image](https://user-images.githubusercontent.com/45027459/101230427-34b84d80-36e0-11eb-8863-17109173a4b9.png)
![image](https://user-images.githubusercontent.com/45027459/101230435-400b7900-36e0-11eb-839b-7eb486dad26f.png)

在主窗口的 OnCreate 中注册回调函数
![image](https://user-images.githubusercontent.com/45027459/101230455-5a455700-36e0-11eb-8

[2020-12-05 07:54] misanthropos commented on #815
I realized libusb debug output was missing in mentioned log file.

So I tried it with following setup:

- heimdall-1.4.2
- linux kernel 5.8.14-gentoo-x86_64
- libusb-1.0.23-r1

[heimdall.log](https://github.com/libusb/libusb/files/5646686/heimdall.log)

[console.log](https://github.com/libusb/libusb/files/5646689/console.log)

[2020-12-05 08:15] misanthropos commented on #815
Surprisingly this heimdall.log claimed it worked. So I tried it again with an older recovery image... and it DID work. I have tried for two days to get the alternative recovery image on that device before. And even though it looked like it worked, I still had stock recovery on the phone.

Since it works now, the problem must be something else then. Not sure though, what it actually is.
I had a sys

[2020-12-06 14:15] SindenDev opened #817 "libusb: error [darwin_claim_interface] USBInterfaceOpen: another process has device opened for exclusive access"
`
bool USBDevice::openDevice(RawUSBDevice *dev)
{
    int opened = -1;
    if((nullptr == m_pDevice) && (nullptr != dev)){
        m_pDevice = dev;
        libusb_ref_device(m_pDevice);
        opened = libusb_open(m_pDevice, &m_pDeviceHandle);
        if(0 != opened){
            qWarning() << "open usb Reasnow device error!" << libusb_error_name(opened) << "vendorId:" << vendorId(dev) << "produc

[2020-12-07 03:42] mcuee commented on #817
You can not use libusb with a USB mass storage under macOS.
USB mass storage does not use FTDI driver. There is no way to detach the USB storage driver.

[2020-12-07 03:42] #817 closed

[2020-12-07 03:47] mcuee commented on #815
In that case, can we say libusb is in fact working? Can we close this issue? You can always re-open if you have new findings.

[2020-12-07 06:09] banchanKiroHashtaag commented on #814
Hi Thanks for the reply. I am not developing a firmware for the device,  I plan to make a Serial Communication program for the device. At this point I am trying to write code to automatically detect the device and take care of all the configurations so that the device is ready to use.

The Endpoint IN was not supposed to have value 0x00. This is only because it could not find an IN Endpoint of Bul

[2020-12-07 06:11] banchanKiroHashtaag commented on #814
Hi Dickens, Below is the descriptor I got from running the cmmand
[code]

[2020-12-07 07:30] misanthropos commented on #815
Agreed.

[2020-12-07 07:30] #815 closed

[2020-12-07 11:08] mcuee commented on #814
#define BULK_EP_IN      	(0x02 | LIBUSB_ENDPOINT_IN)

The above code is not correct. Your device does not have EP02 IN but only EP01 IN.

Anyway, you can not anyhow send a bulk transfer. You have to understand the device communication protocol. In your case, the device is a USB Composite device, with a CDC-ACM USB Serial Port and a CDC-ECM Ethernet port. By right you should not even use libusb but

[2020-12-07 11:09] mcuee commented on #814
I will close this as it is not an libusb issue. You can ask for more help after you read the USB CDC-ACM specification.

[2020-12-07 11:09] #814 closed

[2020-12-07 11:20] mcuee commented on #814
Just one super simple example to get you started.
https://github.com/tytouf/libusb-cdc-example/blob/master/cdc_example.c

BTW, I just remember my first post to libusb mailing list was also trying to communicate to a USB CDC-ACM device under Linux back in 2005.
https://libusb-devel.narkive.com/nefpTO3u/libubs-devel-cdc-acm-under-linux-with-libusb

[2020-12-07 11:27] banchanKiroHashtaag commented on #814
Thank you for the suggestions. I will go through the materials and get back through the mailing list with more questions if required.

[2020-12-07 11:40] mcuee commented on #492
FYI, for the latest version of libusb under my Mac Mini M1, the output is like this. The root hub is no longer listed.

[code]

[2020-12-07 11:41] mcuee commented on #492
@timdesi I will close this issue for now. Please re-open if you have new info.

[2020-12-07 11:41] #492 closed

[2020-12-07 11:51] mcuee commented on #96
@catap Just wondering if you can provide more details on the issues you encounter. Which macOS version are you using? Do you have any debug logs to share?

[2020-12-07 11:53] catap commented on #96
@mcuee it was at Mojave and I don't think that I can provide any debug logs because it was too long ago.

Sorry.

[2020-12-07 11:53] mcuee commented on #326
@johnkeeping Does this still occur with the latest version of libusb (say 1.0.24rc2)?

[2020-12-07 11:55] mcuee commented on #254
Close this for now as there are no updates for a long time. Please reopen if new info comes in.

[2020-12-07 11:55] #254 closed

[2020-12-07 11:56] mcuee commented on #156
@LudovicRousseau Is still still applicable?

[2020-12-07 11:58] mcuee commented on #478
@unier Do you still encounter this issue?

[2020-12-07 12:03] mcuee commented on #96
@catap Just want to make sure, so you are saying that now you do not encounter the issue with later macOS version like Catalina and Big Sur, right?

[2020-12-07 12:06] catap commented on #96
@mcuee I rewritten code to another way and I haven't reproduce this issue.

Why? Because code that was encountered it was rewritten long ago and I haven't got it anymore.

[2020-12-07 12:06] mcuee commented on #528
Close this for now as it does not seem to be a libusb problem, but rather a Samsung application problem.

[2020-12-07 12:06] #528 closed

[2020-12-07 12:07] mcuee commented on #790
Close this for now.

[2020-12-07 12:07] #790 closed

[2020-12-07 16:33] ganeshrvel opened #818 "Dynamic Linking Error, Symbol not found."
While trying to run a macos application which uses dylib is throwing:

[code]

This was happening in macOS version 10.12.6. In Catalina this issue isn't happening.

How do I fix this?

[2020-12-07 18:30] johnkeeping commented on #326
I don't have the test setup for this any more, so I can't say for sure.  But #701 sounds a lot like this issue!

Since I can't reproduce it now, I'm happy to close this.

[2020-12-07 18:30] #326 closed

[2020-12-08 13:20] mcuee commented on #818
Please ask question in libusb mailing list to ask question like this. Thanks.

[2020-12-08 13:20] #818 closed

[2020-12-08 13:53] mcuee commented on #804
@german77 Please help to provide the debug log. Thanks.

[2020-12-08 17:01] german77 commented on #804
I will when I can contact the person with the problem again. Or find another with the same issue willing to help. Right now I can't get a log because I don't have the issue. With the last change I made there are fewer reports of this problem, the problem still there but now goes unnoticed.

Sorry for making you wait. But I can't do much if I don't have the problem.

[2020-12-09 02:58] vovkos opened #819 "release 1.0.24"
An issue to ask a question.

When is the release 1.0.24 scheduled? The PR 483 (https://github.com/libusb/libusb/pull/483) by @jiez fixes a critical issue on some Windows installations. I would certainly prefer to use the official libusb binaries on Windows, but if it's not going to happen any time soon, I will make a custom build of libusb for my project.

Thank you!

[2020-12-09 05:12] dickens commented on #819
Closing this.  Refer to #618 and please do not open issues to ask questions.

[2020-12-09 05:12] #819 closed

[2020-12-09 19:52] ramuvsign opened #820 "libusb_alloc_streams returns LIBUSB_ERROR_INVALID_PARAM"
Hi All,
When I try to open a stream using libusb_alloc_streams (the below snippet), I see LIBUSB_ERROR_INVALID_PARAM error returned.
was the endpoint address sent wrong? Any feedback and help to address this issue.

Python Snippet:

    devh = libusb_open_device_with_vid_pid(NULL, VENDOR_ID, PRODUCT_ID);

    ret = libusb_get_config_descriptor(libusb_get_device(devh), 0, &config);

const    struct

[2020-12-10 03:35] mcuee commented on #820
What is the device? What is the OS used? Do yo have the output of "lsusb -vvv" if you use Linux? If using other OS, you can use corresponding tool to dump the USB descriptors.

[2020-12-10 03:37] mcuee commented on #807
Probably we can not do much about this right now. I will update the Wiki as of now.

[2020-12-10 03:44] mcuee commented on #807
Wiki updated.
https://github.com/libusb/libusb/wiki/Windows#Known_Restrictions

[2020-12-10 03:46] dickens commented on #820
You are not using the API correctly.  The `endpoint` parameter is an address to an array of `unsigned char` where each member contains an endpoint address.  You are passing the pointer to the `struct libusb_endpoint_descriptor`.  The correct usage is as follows:
[code]

Or if you prefer an array, then:
[code]

Since this is not a libusb issue, I'm going to close this.

[2020-12-10 03:46] #820 closed

[2020-12-10 05:27] mcuee commented on #237
Wiki FAQ page updated.
https://github.com/libusb/libusb/wiki/FAQ#Known_quirksdifferences_between_libusbcompat01_and_legacy_libusb01

[2020-12-10 06:26] mcuee commented on #96
I see. No problem. I will keep this issue as open.

[2020-12-10 07:37] mcuee commented on #804
@german77 No problem. I will keep the issue open.

[2020-12-10 19:14] dickens commented on #618
Primary release work is finished with c6a35c5.  I'll send the announcement and upload Windows binaries to follow.

[2020-12-10 19:14] #618 closed

[2020-12-11 01:18] vovkos opened #822 "missing asset in release 1.0.24"
Happy to see version 1.0.24 being officially released!

However, the Windows binaries asset is missing. The official website https://libusb.info has a broken download link leading to:

https://github.com/libusb/libusb/releases/download/v1.0.24/libusb-1.0.24.7z

[2020-12-11 02:33] mcuee commented on #822
Yes you are right. Windows binary is not yet up.

[2020-12-11 03:16] dickens commented on #230
Done with latest release (v1.0.24)

[2020-12-11 03:16] #230 closed

[2020-12-11 03:16] dickens commented on #822
Yes, working on it...

[2020-12-11 03:23] dickens commented on #574
This cannot be fixed, unfortunately.  Mixing objects compiled with different versions of Visual Studio, or not using the same runtime library selection, is ultimately going to fail.

In the future Windows binaries archive I will include objects compiled for each of the supported Visual Studio versions.

[2020-12-11 03:23] #574 closed

[2020-12-11 09:01] dickens commented on #822
Uploaded, closing.

[2020-12-11 09:01] #822 closed

[2020-12-12 08:55] sevstels opened #823 "This is already fed up! Can't you fix this shit in so many years ?!"
1>libusb.h(783): warning C4200: nonstandard extension used : zero-sized array in struct/union
1>libusb.h(808): warning C4200: nonstandard extension used : zero-sized array in struct/union
1>lib\libusb.h(968): warning C4510: 'libusb_version' : default constructor could not be generated
1>libusb.h(968): warning C4610: struct 'libusb_version' can never be instantiated - user defined constructor requi

[2020-12-12 10:48] diabolo38 commented on #823
certainly you should use another shity c++ compiler ;)
 this is a msvc warn ,  so why don't you use winusb directly ?

At least you should write in correct and not offending words if to get any sensible and intelligent anwers ...

USB descriptor are unfortunately describe in that way,
they are not fixed sized and theirs not quite alternative to represent them  in a c/c++ smarter way

[2020-12-12 11:11] sevstels commented on #823
As I understand it, this is the most qualified advice here ...

An insult is repeating this stupid mistake endlessly for many years. And don't try to fix it.

[2020-12-12 11:17] sevstels commented on #823
libusb\os\windows_winusb.c(3483): error C2146: syntax error : missing ')' before identifier 'PRIuPTR'
libusb\libusb\os\windows_winusb.c(3537): error C2146: syntax error : missing ')' before identifier 'PRIuPTR'

[2020-12-12 15:03] hjelmn commented on #823
This is not the appropriate way to act toward the developers of an all-volunteer project. You are lucky we even provide support for Windows much less the crappy Microsoft compiler. If you would like this fixed open a PR and one of us will take a look. Otherwise do not hold your breath waiting for anything. I have no interest in Windows support.

[2020-12-12 15:03] #823 closed

[2020-12-12 17:09] sevstels commented on #823
In your answer, defeat is visible ... Windows machines are 90% of the desktop market today. Not to mention all commercial companies in the world, where the use of Windows is almost everywhere! And to ignore it is serious stupidity ...

[2020-12-12 18:23] hjelmn commented on #823
Except every company I have worked for use primarily Linux with Mac on the desktop. I don't care for your attitude and, again, if you want libusb to work with your broken Microsoft compiler open a PR, fix it locally, or just use WinUSB. I, and the other maintainers, will not waste time fixing what isn't broken. The errors are clearly erroneous as the lines in question are valid C.

[code]

C99 all

[2020-12-12 18:25] hjelmn commented on #823
The user has been blocked for 7 days.

[2020-12-12 18:43] hjelmn commented on #823
As a reminder to all other users who may run across this issue. libusb is an open-source library maintained by an ever-changing team of volunteer developers. We strive to provide the best software we can with the time available. We welcome pull requests and constructive discussions. Discussions like this one do not help improve libusb and combative users may be blocked from posting or opening pull

[2020-12-13 01:38] cpagravel opened #824 "Error: assert (NULL == darwin_cached_devices.next) in libusb-1.0.24 --> please upgrade pyusb to 1.1.0 to sort out"
I'm using PyUSB on MacOS Catalina (up-to-date as of writing this) and I recently updated my libusb with brew. I found that the issue  this commit: https://github.com/libusb/libusb/commit/1201bccf857aa2c126f6f568f5255b0aa6027ac2#diff-ac52d89176c92629a8fdf7930595e6ec24298ca593f0fbb4942093626bd6a09f

The program I'm using is a blackbox - I'm not sure how exactly PYusb is being used, I know it is endi

[2020-12-13 01:49] cpagravel commented on #824
Also, if I checkout that commit and build I can reproduce the issue with the following python code (using pyusb).
[code]

This will fail on the second call to `usb.core.find()`

The output is:
[code]

[2020-12-13 02:36] cpagravel commented on #824
I can produce it consistently, but I also found that if I use the debugger it sometimes isn't reproduced.

[code]

Anything I can do to provide more info?

[2020-12-13 02:38] dickens commented on #824
Look at the version in your debug output.  You aren't running the latest version.

[2020-12-13 02:42] cpagravel commented on #824
Ah, let me add some context. With my blackbox software, I can reproduce the issue 100% on 1.0.24, though, as I mentioned I noticed it sometimes does not occur if I use the debugger.

I did a git bisect to find the commit that seemed to cause the issue in libusb. On this particular commit, I can reproduce the issue without using the blackbox software. I realize there are 110 commits between this on

[2020-12-13 02:43] cpagravel commented on #824
I can get the logs from 1.0.24 in a moment.

[2020-12-13 02:49] cpagravel commented on #824
Logs for 1.0.24
[code]

[2020-12-13 02:56] dickens commented on #824
Interesting result.  The message "darwin event thread exiting" is triggered by the call to `CFRunLoopSourceSignal()` in `darwin_exit()`.  After the call to `pthread_join()`, we call `darwin_cleanup_devices()` which, if you look, clears the `darwin_cached_devices` list.  Could you add two debug messages and run it again?

1) In `darwin_cleanup_devices()` right before clearing `darwin_cached_devices

[2020-12-13 03:01] cpagravel commented on #824
I want to add that I noticed the issue goes away if I manually call the init function twice.

E.g. in libusb1.py (re: https://github.com/pyusb/pyusb/blob/master/usb/backend/libusb1.py#L717)

If I change:
[code]
into
[code]

Will add the debug messages, one moment.

[2020-12-13 03:10] cpagravel commented on #824
Output after debug messages.

[code]

[2020-12-13 03:39] dickens commented on #824
Yup, does not make sense.  One more request please, change the end of `darwin_cleanup_devices()` to the following:

[code]

[2020-12-13 04:00] cpagravel commented on #824
No problem. I'm happy to help.
[code]

[2020-12-13 04:35] cpagravel commented on #824
Looks like it is getting changed in `darwin_destroy_device`

[2020-12-13 04:40] cpagravel commented on #824
[code]

[2020-12-13 04:43] cpagravel commented on #824
I'm 90% certain the issue is this function:
[code]

[2020-12-13 05:48] hjelmn commented on #824
Looking at the commit that apparently caused the regression. dickens@ can you give some more context? The destructor use was intentional even if it left some stale resources. Don't remember looking at that commit when it went in (doesn't have my sign off). Was there a bug associated with the issue?

[2020-12-13 05:56] mcuee commented on #824
FYI no regression here on my Mac Mini M1.
[code]

[2020-12-13 06:42] dickens commented on #824
Deferring the resource cleanup until the destructor confuses memory analysis tools.  That is the primary motivation behind the change.  It's not exactly "nice" of libusb to hold onto heap allocations after you've told it to exit anyhow.

[2020-12-13 07:00] dickens commented on #824
Ok, finally figured this out.  The problem is that pyusb is holding references to libusb devices after calling `libusb_exit()`.  When `libusb_unref_device()` is called later, one or more of these devices are still pointing to `darwin_cached_devices` and that is how it is getting modified back to a non-NULL value.  A simple reproducer in C:

[code]

While libusb might be able to handle this more gr

[2020-12-13 07:20] mcuee commented on #824
@jonasmalacofilho
Please help to take a look at pyusb side. Thanks.
https://github.com/pyusb/pyusb/issues/342

[2020-12-13 08:31] jonasmalacofilho commented on #824
@cpagravel

What version of PyUSB is that?  The traceback doesn't match the latest/1.1.0 release, and it already included a fix for something like what @dickens described to be the problem.

[2020-12-13 08:42] cpagravel commented on #824
My pyusb version was out of date. Using the latest release seems to handle the memory issue. Sorry for the confusion, I tried to update pyusb, but I didn't use the `--force` flag to force updating.

[2020-12-13 10:35] corsac-s opened #825 "[regression 1.0.24] can't communicate with iPhone/iPad on Linux"
Hi,
this bug was originally reported to Debian (https://bugs.debian.org/977231) but I've reproduced and bisected using libusb repository so I'm reporting directly as well.

To summarize the downstream bug: communication with iPhone/iPad don't work with 1.0.24: the device appear in /sys/kernel/debug/usb/devices but doesn't show in lsusb, and the userland stack linked against libusb (ideviceutils, u

[2020-12-13 12:34] aurel32 commented on #825
I would add that the following error is reported when running lsusb with `LIBUSB_DEBUG=99`:

[code]

[2020-12-13 14:45] cpagravel commented on #824
+1 for adding a warning instead the asset. My experience was that after brew updated my libusb I saw the abort trap code and the code stopped functioning. I attempted to update my Python lib (forgot to use —force) and quickly assumed the issue was a regression in libusb. This will happen to other people who update libusb. Pip won’t bother updating packages in many cases, so inexperienced users (li

[2020-12-13 15:00] MonaNekoWR opened #826 "Did find the .dylib file, but wrong architecture"
It's just a python code as follows:

[code]
OSError: dlopen(/usr/local/lib/libusb-1.0.dylib, 6): no suitable image found.  Did find:
        /usr/local/lib/libusb-1.0.dylib: mach-o, but wrong architecture
        /usr/local/lib/libusb-1.0.0.dylib: mach-o, but wrong architecture

This .dylib file is built with MacOS Big Sur M1
It's also showed in Terminal that
[code]
I have no idea about what's wro

[2020-12-13 15:17] sbraz commented on #825
Hi,
I'm seeing the same thing with an Eaton UPS. I can confirm that e2be556bd262cd260bebe3fc724509692537eba3 is the first bad commit.
Output from  `LIBUSB_DEBUG=99 lsusb`:
[code]

From `usb-devices`:
[code]

[2020-12-13 17:07] LudovicRousseau commented on #826
I guess you need to rebuild libusb for x86_64 in addition to arm64.
This is NOT an issue in libusb.

[2020-12-13 17:07] #826 closed

[2020-12-13 17:56] hjelmn commented on #826
Yup. Just rebuild. libusb works perfectly on the M1.

[2020-12-13 19:10] dickens commented on #825
The device’s descriptors appear broken.  The commit in question brings this to light during device enumeration rather than when descriptors are asked for.

Can you run `LIBUSB_DEBUG=4 lsusb -v` using the older version of libusb and provide the output?  It would also be nice to see the binary dump of the descriptors, which can be captured by running `cat /dev/bus/usb/<bus>/<address> > descriptors.b

[2020-12-13 19:14] dickens commented on #824
To clarify, I’m not proposing the removal of the assertion.  It is undefined behavior for devices to be accessed after `libusb_exit()` is called.  I am proposing to add a warning message in `libusb_exit()` if it detects that one or more device references are still held by the application, similar to how it warns when devices are still open.

[2020-12-13 19:20] corsac-s commented on #825
Here is the requested information.

[libusb.txt](https://github.com/libusb/libusb/files/5685256/libusb.txt)
[descriptor.txt](https://github.com/libusb/libusb/files/5685269/descriptor.txt)
[descriptor.bin.txt](https://github.com/libusb/libusb/files/5685271/descriptor.bin.txt)

[2020-12-13 22:06] sbraz commented on #825
Here's [lsusb's output](https://dpaste.com/67GLJDREU) and [the descriptor's dump](https://github.com/libusb/libusb/files/5685575/descriptor.bin.txt).

[2020-12-13 22:39] machmar opened #827 "Cannot open include file unistd.h and List.h"
So I finally got the demo project to compile without issues. I ended up including all the files from libusb-1.0.24/libusb because I was lost for over two days.(this is downloaded from your website) But now it tells me `Cannot open include file 'unistd.h': No such file or directory` and the file is in `haiku_usb_backend.cpp`. It also can't find `List.h`.

I have tried starting the project over and

[2020-12-13 23:54] #825 closed

[2020-12-13 23:54] dickens commented on #825
Found and fixed.  Thanks for the report and provided data.

[2020-12-13 23:59] dickens commented on #827
It sounds as though your project's configuration is not correct.  The missing files are because you are compiling the wrong files (we already provide Visual Studio solutions) and the unresolved symbols are because you aren't linking correctly against the library.

I'm going to close this issue as this is for reporting problems with libusb.  Please use the libusb-devel mailing list for support ques

[2020-12-13 23:59] #827 closed

[2020-12-14 06:35] machmar commented on #827
Oh okay. Thanks anyway.

[2020-12-14 13:04] efe-star opened #828 "Assertion failed: (NULL == darwin_cached_devices.next), function darwin_init, file os/darwin_usb.c, line 584."
hi. i am trying to use a tool using libusb. I installed libusb 1.0.24 and I am getting this error or whatever idk. And sorry about my English **
Operating system: Mac OS 11.0.1
Assertion failed: (NULL == darwin_cached_devices.next), function darwin_init, file os/darwin_usb.c, line 584.

what should I do ?
Thanks..

[2020-12-14 13:14] MonaNekoWR commented on #826
That dose work. Thank you very much for replying so fast.
For our beginner, I think it's a good ideal to add some description about HOW TO INSTALL LIBUSB IN MacOS M1.

Just like:
1. Install Xcode Ver12.2
2.Clone the newest libusb from git
3.Open the Xcode project from /libusb-1.0.24/Xcode/libusb.xcodeproj
4.Choose the build option to "Any Mac" which means both ARM64 and X86_64
5.Edit the Run Schem

[2020-12-14 13:28] LudovicRousseau commented on #828
I guess you are using PyUSB Python wrapper.
See https://github.com/libusb/libusb/issues/824#issuecomment-743964046

[2020-12-14 13:30] MonaNekoWR commented on #826
Actually I just spent lot of time fighinting with the "./configure make make install" in Terminal
Consider why pip install libusb doesn't work.
Try to debug the source code of pyusb step by step but find the NoBackendError
Also waste time trying to build a ARM64 dll file with Visual Studio in Windows OS.

However, I learnt a lot about how does the unix system work.
And finally, every thing works w

[2020-12-14 13:32] LudovicRousseau commented on #826
You can add a page on the project Wiki https://github.com/libusb/libusb/wiki.
But I guess most macOS developers will know what to do to handle/generate fat binaries.

[2020-12-14 14:09] MonaNekoWR commented on #826
[Does libusb support MacBook Pro (Apple Sillicon, M1, 2020)](https://github.com/libusb/libusb/wiki/FAQ#Does_libusb_support_MacBook_Pro_Apple_Sillicon_M1_2020)

Anyway, I added it to FAQ. Maybe it just helps the user who use pylib.

@LudovicRousseau

[2020-12-14 14:29] hjelmn commented on #826
I will update the xcode project and add a configure option for building universal.

[2020-12-14 19:36] corsac-s commented on #825
Thanks a lot, I can confirm it works (and @aurel32 already uploaded the fix to Debian).h

[2020-12-17 00:08] dickens commented on #828
Closing this as a duplicate of #824

[2020-12-17 00:08] #828 closed

[2020-12-17 00:09] dickens commented on #824
See commit 1a08aa84d96397a3840a75abe66051f5360c2c84.  I've made the error visible as part of this change.

[2020-12-17 00:51] hjelmn commented on #824
@dickens That commit needs work. We should never use the __atomic operations. They are defined in gcc and clang, yes, but they are not standard. libusb should be using c11 atomics ```#include <stdatomic.h>``` only.

[2020-12-17 00:51] hjelmn commented on #824
Did anyone review that commit?

[2020-12-17 03:55] hjelmn commented on #824
Fixing that now. Please get a review next time :). We require C11 so stdatomic is available.

[2020-12-17 04:02] dickens commented on #824
While we require C11, we have not settled on requiring the C11 headers.  See [your comment on another C11-related change](https://github.com/libusb/libusb/pull/682#issuecomment-578595193).  C11 compiler support and C11 header support are not the same thing.  The `_Thread_local` identifier is not standard either, so to avoid dependence on the C11 headers I followed the exact same approach.

[2020-12-17 04:04] dickens commented on #824
Well, no _human_ reviewed the commit but a number of CI builds did.  We are a little short on active maintainers at the moment :wink:

[2020-12-17 04:16] hjelmn commented on #824
_Thread_local is standard (see  ISO/IEC 9899:201x 6.4.1). WG14 has taken all identifiers of the form ```_[A-Z].* and __.*```. That is the reason bool is ```_Bool``` not bool unless you include stdbool.h. See ISO/IEC 9899:201x section 7.1.3:

[code]

gcc took some liberties taking ```__atomic``` from what I can tell. But they were following the convention set by Intel with ```__sync``` (why is Inte

[2020-12-17 04:17] hjelmn commented on #824
Too true. I am around though for reviewing darwin/macOS changes. At this point the only active maintainer from libusb 0.1 on. Feel free to ping me for a review by opening a PR and tagging me.

[2020-12-19 02:31] mcuee commented on #623
Close this for now. Please go to the main thread. #584

[2020-12-19 02:31] #623 closed

[2020-12-19 02:33] mcuee commented on #584
Please try 1.0.24 to see if it is okay in 1.0.24. Thanks.

[2020-12-19 02:38] mcuee commented on #717
Try this tip as well from Peter Stoiber.
https://marc.info/?l=libusb-devel&m=160832455725344&w=2

[code]

[2020-12-20 15:16] bluecmd opened #829 "MinGW64 release dll depends on MSYS2"
Hi,

I am trying to use MinGW64/dll/libusb-1.0.dll from libusb-1.0.24. Sadly it seems to rely on MSYS2 for some reason.
The 32-bit does not have this dependency.

[code]

[2020-12-20 18:51] diabolo38 commented on #829
I suspect that is because you build it under msys-2
i build with and old msys (not 2) and minwgw64 8.2 and i have nothing such
it just depends on the 3 standrad os dll
KERNEL32.DLL
MSVCRT.DLL
USER32.DLL

[2020-12-20 19:26] bluecmd commented on #829
I didn't build it, I used the release hosted/provided here on GitHub - sorry if that wasn't clear :-).

The bug is about the release artifact/7z file.

[2020-12-21 02:18] mcuee commented on #829
The Windows binary is more for convenience and it may not work for all use cases, this is especially true for the static library, but it can also happen for the DLL.

In this case, what is your use case here? You may want to build the binary by yourself to see if you can get rid of the MSYS2 dependencies.

I use MSYS2 to build libftdi binaries and I always have the MSYS 2 dependencies for the bina

[2020-12-21 09:00] bluecmd commented on #829
Indeed, they are very convenient. I want to build an 64-bit version of OpenOCD without any big dependencies. I can successfully build a 32-bit version, but since the 64-bit libusb depends on MSYS2 the final output of course does that as welll.

I can of course build it myself, but what's the point of providing a "mingw64" dll that's dependent on MSYS2? In my eyes that makes little sense, hence thi

[2020-12-21 10:07] diabolo38 commented on #829
oops sorry didn't seen you took the bin
I found the same  dependencies issue for dll  personally rebuilt on msys2 it depend on msys2.dll 👎
i also don't like much such dependencies and the pain managing and distributing thems if it can be avoided
that is a reason i use old msys (small/portbale offlline  instalabe) for most windows work ,  this  issues is not encouraging me toward msys2 move :(

[2020-12-21 20:30] dickens commented on #829
I've rebuilt the 64-bit MinGW DLL and uploaded a new 7z archive.  The MSYS2 dependency should be gone.

[2020-12-21 20:30] #829 closed

[2020-12-22 22:42] dickens commented on #824
Where do we want to leave this?  It is not a libusb issue and the library will now emit a warning message for each device with leaked references during `libusb_exit()`.  I think we can close this.

[2020-12-23 02:10] mcuee commented on #824
I agree. Close this.

[2020-12-23 02:10] #824 closed

[2020-12-23 10:00] mcuee commented on #422
One reference from FTDI. It uses the WinUSB WCID method to get Windows automatically use WinUSB as the driver.
https://www.ftdichip.com/Support/Documents/AppNotes/AN_344_FT51A_DFU_Sample.pdf

[2020-12-23 10:36] kuro68k commented on #422
I need to dig some development hardware out, it's all in boxes. But this was fixed, I had it working, I just can't remember what was done. It might have been the DeviceInterfaceGUID fix DeviceInterfaceGUID mentioned, or one of the two PRs I submitted to fix selection of interfaces.

I'll try to look at it over new year.

[2020-12-23 15:33] xloem commented on #596
`PKG_CONFIG_EXECUTABLE=/bin/false` https://cmake.org/cmake/help/latest/module/FindPkgConfig.html#variable:PKG_CONFIG_EXECUTABLE

[2020-12-24 08:31] mcuee commented on #717
https://github.com/libusb/libusb/pull/830
Please check the above pull request as well.

[2020-12-24 08:36] XanaduAPI commented on #717
This operation can indeed connect successfully.

However, not all interfaces can be opened.

For some interfaces, The claimInterface operation will fail

[2020-12-26 18:43] Lekensteyn opened #831 "[Regression 1.0.24] Device is not enumerated on Linux"
After upgrading from 1.0.23-3 to 1.0.24-1 on Arch Linux, `lsusb` fails to show an iPhone 12 Pro. As usbmuxd depends on libusb for enumeration, that also failed to find any devices. git bisect pointed to:

e2be556bd262cd260bebe3fc724509692537eba3 is the first bad commit

[code]

Automated the bisect with `git bisect run ./bisect.sh` and
<details><summary>bisect.sh</summary>

[code]
</details>

Furt

[2020-12-26 20:29] dickens commented on #831
This was fixed in f6d2cb561402c3b6d3627c0eb89e009b503d9067.  Refer to #825

[2020-12-26 20:29] #831 closed

[2020-12-27 12:39] Lekensteyn commented on #831
Thank you! I could confirm that the issue was fixed on git master, but after switching branches I accidentally forgot to rebuild libusb.

Happy holidays! :tada:

[2020-12-29 06:05] XanaduAPI commented on #717
这个问题什么时候关闭呢？

[2020-12-29 06:21] mcuee commented on #717
Tranlation added by mcuee: when can you close this issue?

@XanaduAPI Please use English here as others may not understand Chinese. Thanks.

So you think that the issue can be closed as your solution is already working? Or do you think there are works to be done?

[2020-12-30 18:17] AsNalage opened #834 "LibUSBDotNet device communication issues on Windows7 64 bit HP EliteBook 840 G3 Model"
I am connecting and communicating to the USB device successfully on all the windows (7, 8, 8.1, 10 - 32 bit and 64 bit).
But I am facing issues in communicating with USB device on one particular laptop i.e.  Windows7 64 bit HP EliteBook 840 G3 Model. On this laptop device works perfectly if I install windows7 32 bit and for Windos8, 10.
I installed divers from libusbinfwizard.exe as well.
Below ar

[2020-12-30 21:43] Peter-St commented on #717
Hi,

problems with claiming the interfaces on native side could be solved by claiming them before on Java/Kothlin side.

[2020-12-31 01:05] XanaduAPI commented on #717
@Peter-St
Do you have any sample code or references? It's a bit difficult to find information in this way. Please help me.

[2020-12-31 11:59] Peter-St commented on #717
Sure,

- start from your applied code above and proceed with the following: --> I made a PullRequest for updating the doc for Android Libusb support (read through ..) [https://github.com/libusb/libusb/pull/830](url)
- Download my fork or apply the pullRequest at your libusb Repo.
- Execute the ndk-build at the LibUsb Repo
- Add the created libs folder to your project (to the Main dir)
- In your Ap

[2020-12-31 14:31] mcuee commented on #834
https://github.com/LibUsbDotNet/LibUsbDotNet
libusbdotnet is a seperate project.

Please go there for support. Thanks.

[2020-12-31 14:31] #834 closed

[2020-12-31 14:35] XanaduAPI commented on #717
@Peter-St

Okay, I will try.  But now we have a holiday.  I will contact you if I have news.  thank you.

[2020-12-31 14:58] Peter-St commented on #717
--> happy holidays and a good start into the new year. 🎉

[2021-01-02 16:25] parafin opened #836 "darwin: clock_gettime is used even if deployment target is <10.12, leads to crash"
Commit 26b16eb65a61b37b64ce8962b5b7d927c3c54a7d introduces this issue by switching from OSX_USE_CLOCK_GETTIME, which is defined using `#if MAC_OS_X_VERSION_MIN_REQUIRED >= 101200`, to HAVE_CLOCK_GETTIME, which is generated by ./configure without taking into account the current deployment target. Only config.h for Xcode keeps the old logic, but it's not used when building from console, e.g. by macp

[2021-01-04 01:41] XanaduAPI commented on #717
For me, it's just an ordinary Festival, and the new year will come to the Spring Festival.🎉

[2021-01-04 01:56] XanaduAPI commented on #717
I wonder if some documents are missing? I can't find the relevant implementation.
![image](https://user-images.githubusercontent.com/45027459/103494754-1d9d8480-4e73-11eb-83d2-ac01220fe8a8.png)

[2021-01-04 11:25] iliis commented on #596
You need to set `PKG_CONFIG_EXECUTABLE` to your own stub for option 2, but I don't see how replacting it with `/bin/false` would help at all?

[2021-01-04 14:45] xloem commented on #596
In a project I was working on, it was helpful to disable pkg-config when building for android.  Setting it to /bin/false makes cmake recognise that it isn't usable.  That way the user's non-android libraries wouldn't get automatically detected, and this made it easier to make reliable temporary bandaids with flags or patches.  Maybe this is not helpful for you; if so I apologise.

[2021-01-04 17:58] Peter-St commented on #717
Check your Plugins for Android-Studio.
I think it's the Android NDK Support Plugin.
A List of all my installed Plugins is attached below.

![Uploading Studio_Plugins.png…]()

[2021-01-05 00:24] righthalfplane opened #837 "Problems sending to and receiving data from the IC-R8600"
Something strange going on - the idVendor vendor comes up as 0x0c26, but the iProduct comes up as 0x0023 on Windows and as 0x0022 on macOS and ubuntu 18.04. I wrote a little program to set one of the  IC-R8600 modes - It works perfectly on Windows 7 and Windows 10, but it errors on the MacOS High Sierra and Ubuntu 18.04 . If just set the iProduct to 0x0022, I get the "MacOS - output 1". If just se

[2021-01-05 01:41] XanaduAPI commented on #717
hi

I checked the list of plug-ins and found nothing extra.

public interface unRootedSample extends Library {
    public static final unRootedSample INSTANCE = Native.load("unRootedAndroid", unRootedSample.class);
    public int main (int fileDescriptor);
}

What is in "unRootedAndroid"?

Is this your C code?

Xanadu

[2021-01-05 01:55] XanaduAPI commented on #717
hi
I compared your libusb with the official one. It was found that only the. MK file was modified.

In fact, I also used libusb and passed in descriptors, but for Apple devices, I can only open a specific PTP interface, but the multiplexing interface cannot.

Specific interface calls to claimInterface fail, whether it's libusb or Java code.

[2021-01-05 05:53] Peter-St commented on #717
Hello,

Plz check my commits from the Pull Request first.
https://github.com/libusb/libusb/pull/830/commits

If you were getting no compilation errors (because no error logs were attached), then set your Android Studio debugging Options from autodetect to Java Only. (menu.entry under Run or Build menu). In Android-Studio I can only get Debugging log from "Java Only" set from Native Code.

In my pr

[2021-01-05 06:27] XanaduAPI commented on #717
I read your explain.
I found that you need to declare the interface on the Java side.

![image](https://user-images.githubusercontent.com/45027459/103613665-e659d100-4f61-11eb-957f-777939100e51.png)

But I fail to call UsbDeviceConnection.claimInterfacein() Java

[2021-01-05 09:34] iliis commented on #596
Ah, so you at least get a proper error message instead of the build system silently using the completely wrong library. This is actually a neat trick, thanks :)

[2021-01-05 12:44] mcuee commented on #837
Please post the usb descriptor of the device (similar to "lsusb -vvv" under Linux).
You can get "lsusb" formular from Homebrew for macOS which produce similar output to Linux "lsusb -vvv".
Or you can post the output of USBView or similar utility under Windows, say usbtreeview.
https://www.uwe-sieber.de/usbtreeview_e.html

[2021-01-05 12:48] mcuee commented on #837
Also this github repo is for issue reporting and not for technical report. Please post your question to the mailing list, including the USB descriptors.

[2021-01-05 13:05] Peter-St commented on #717
On some Devices I'm having still problems finding the interfaces on Java, but could always find them with Libusb.

Your problem looks more like the Interfaces were obtained by other kernel drivers, which you can not detach.

Try to debug, if you can detach any drivers from the Usb Interfaces... this concern is not really pointing at this topic of this Issue any more I think, because here we start

[2021-01-05 13:24] macfreek opened #838 "libusb_set_interface_alt_setting returns kIOUSBPipeStalled on macOS"
Hi, thanks for making libusb available!

I'm using [dfu-util](https://sourceforge.net/p/dfu-util/) to upgrade the firmware of a development board over USB. For some reasons, that fails on macOS, with the first reports from March 2020. It was suggested that a macOS security update triggered it, but I have not seen anything more clear than that. (Upstream tickets: [dfu-util](https://sourceforge.net/

[2021-01-05 16:34] pali commented on #237
I tested again reproducer from the https://github.com/libusb/libusb/issues/237#issuecomment-265406150 and issue is still there after 5 years. I used up-to-date Debian stable system which comes with libusb-1.0-0 package in version 2:1.0.22-2. As described device with ids idVendor=0421, idProduct=0106 is not detected by that code. And code from comment https://github.com/libusb/libusb/issues/237#iss

[2021-01-06 00:18] macfreek commented on #838
FYI, I can reproduce this with pyusb, so the issue is not specific to dfu-util.

[code]

raises `usb.core.USBError: [Errno 32] Pipe error`.

(I tried adding a `time.sleep(0.5)` just before the call to `set_interface_altsetting()` but got the same result).

[2021-01-06 01:25] mcuee commented on #237
@pali Yes the stock libusb-1.0-0 package in Debain stable will be built against libudev so you will still see the problem. You can refer to the comments by Chris.

Have you tried to build libusb using netlink (disable libudev in the build) and the see if that helps.

[2021-01-06 01:26] mcuee commented on #237
On the other hand, I can see that Debian still ships the old libusb-0.1 and not libusb-compat-0.1.
https://packages.debian.org/search?keywords=libusb

[2021-01-06 01:35] mcuee commented on #838
Please help to post the usb descriptor of the device and the debug log.

Looks like the device have a problem to handle libusb_set_interface_alt_setting (libusb_device_handle *dev_handle, int interface_number, int alternate_setting). A simple fix will be changing the code to libusb_claim_interface (libusb_device_handle *dev_handle, int interface_number), if the device has no alternative settings o

[2021-01-06 03:37] XanaduAPI commented on #717
My goal is to use usbmuxd to run on Android and connect to IOS devices, so the operations you provide can only open some other interfaces.

As you said, maybe I need more in-depth study.

Anyway, thank you very much.

Xanadu

[2021-01-06 09:31] pali commented on #237
I do not have a control what configuration distributions ships, I can only build my SW against provided packages. And if dependent SW (=libusb) provides buggy configuration then it is buggy and unusable as anybody can (and distributions like Debian are doing it) compile it with this buggy configuration.

I know that Debian is still shipping libusb-0.1, it was not removed because at that time 5 yea

[2021-01-06 11:08] Peter-St commented on #717
Ok,

in your case I would not use libusb for this behavior.

Usbmuxd uses tcp to communicate.
I would start with one of the 2 following examples:
https://www.source-code.biz/snippets/java/TelnetStdioRedirector/TelnetStdioRedirector.java
https://www.source-code.biz/snippets/java/SerialPortChannel/SerialPortChannel.java
From here:
https://www.source-code.biz/snippets/java/

Look at the Telnet-Server

[2021-01-06 12:24] mcuee commented on #237
@pali I understand the frustrations.

On the other hand, keep calling libusb buggy configuration does not really help anyone. We can argue it is the limitation of libudev which libusb depends on. And we are unlikely to remove the libudev dependancies any time.

And Chris already mentioned the potential work-around to test with netlink and it seems nobody wants to try it to see if that can fix the

[2021-01-06 12:31] pali commented on #237
Well, I do not have time to do more tests and try what works or what not. I have provided testing applications in this issue which anybody can test and check if it works or not. No special HW is needed just to check that any USB device appears in tested application after e.g. 0.05s or 0.1s after inserting it into USB port. If upstream developers/maintainers do not want to handle this issue serious

[2021-01-06 12:43] mcuee commented on #237
I can totally understand your frustration. On the other hand, I guess in this case it will be status quo unless someone jumps in to propose better solution for you or for libusb.

[2021-01-06 13:37] mcuee commented on #837
Basically you can not just use your windows code in Mac/Linux as the device is obviously different from Windows -- that is why the product ID is different. You have to figure out a way to send some command to to the device to make it switching to the "Windows" operating mode. You have to reverse engineering if you do not know the communication protocol.

I will close the issue for now. You can ask

[2021-01-06 13:37] #837 closed

[2021-01-06 16:17] pali commented on #237
@mcuee: As you can see a ball is now (for 5 years) on libusb developers/maintainers. It is clear bug in the libusb 1.0 library. If developers/maintainers do not want to do anything for 5 years, then I really do not have motivation to do anything else with libusb 1.0

I already have working solution: libusb 0.1. I was there for a long time and until developers/maintainers fix libusb 1.0 it would be

[2021-01-06 17:01] macfreek commented on #838
Hi @mcuee, thanks for the quick response. I did some more extensive testing, to see how different devices behave when I try to execute the Python script in [comment #2](#issuecomment-754980330). I list the controller if I was able to find that info for these products.

## Devices that respond with a access denied error (most likely because the USB interface is already claimed by a driver in the ma

[2021-01-06 23:20] mcuee commented on #237
It is okay. Since you already have your workaround, I will consider case closed on both side.

On the libusb side, I will just say it is a limitation of libudev/libusb. The workaround is to ask the user to build libusb using netlink. Or you can switch to other library if the workaround is deemed not acceptable.

Anyway, I will still leave the ticket open and maybe others have better ideas.

[2021-01-06 23:29] mcuee commented on #237
As for disto package maintainers, one possible work-around is to create two new packages, libusb-compat-0.1_netlink and libusb-1.0_netlink, link the application with these two libraries, if you do not want to keep shipping the old libusb-0.1.

[2021-01-06 23:33] rosset commented on #237
@pali  can you please provide the details how to currently reproduce the issue, so I can help to test / debug.

@mcuee  I not be able to fix the issue, but I'm glad to help debug / test if someone provide the next steps, or maybe some patches.

I changed my hardware during the past couple years so I'm not sure if I can reproduce the issue atm.

[2021-01-06 23:33] mcuee commented on #237
Wiki pages updated:
https://github.com/libusb/libusb-compat-0.1/wiki
https://github.com/libusb/libusb/wiki/FAQ

[2021-01-06 23:38] mcuee commented on #237
@rosset Thanks. No need any patch. Just build libusb with "./configure --disable-udev" and then try again.
1) Step one: download libusb-1.0.24 source code, build with "./configure --disable-udev", install it.
2) to play safe, rebuild libusb-compat-0.1 again and install it (may not be necessary)
3) rebuild your application, or the test code. Compare the results with before the rebuild.

[2021-01-06 23:38] hjelmn commented on #237
Seems really odd to me that Nokia thought 0.3 seconds was an acceptable timeout for dropping out of update mode. I can understand the frustration that udev does not pass the device off to libusb in a timely fashion. This is a perfect use case for using netlink.

[2021-01-06 23:39] hjelmn commented on #237
We certainly could fix this by making netlink runtime selectable. It was compile time because udev is the process that sets the permissions for the device. udev is used by all major Linux distros.

[2021-01-06 23:41] pali commented on #237
@rosset: testing code is in the post https://github.com/libusb/libusb/issues/237#issuecomment-265406150 run it together with dmesg (e.g. by `dmesg -w & ./test`) and verify that any usb device which you plug into computer is detected by testing code in 0.01s after dmesg prints `New USB device found` line. libusb 0.1 does not have any problem to do this detection.

[2021-01-06 23:43] mcuee commented on #237
@hjelmn That is a good solution -- by making netlink runtime selectable.

[2021-01-06 23:54] pali commented on #237
First: It is not Nokia, but TI and it is bootrom. Moreover it applies to all OMAP3 devices (maybe also OMAP4) and it is standard to not slowdown boot process by waiting longer time period. I do not see nothing odd with 0.3s timeout.
Second: 10+ years ago libusb-0.1 was able to detect device in 0.01s, so timeout 0.3 is 30x times more. And that somebody later decided to implement a new usb library w

[2021-01-06 23:56] mcuee commented on #838
Good discussion here:
https://sourceforge.net/p/dfu-util/tickets/86/

So you can try the workaround, just claim the interface and not set alternative setting. Apparent the device FW is broken in dealing with this standard USB request.

[2021-01-07 00:04] hjelmn commented on #237
It is not about slower. It is about correctness. Most USB devices CAN NOT be used before udev finishes processing them. We need to know when the device is ready for use. I am surprised it is taking this long in your case considering I have never seen it take that long with any of my devices. Most devices are detected almost instantaneously.

I doubt this has anything to do with the asynchronous na

[2021-01-07 00:21] pali commented on #237
Ok, so issue is somewhere else? Do you need more logs for debugging then what I provided years ago in https://github.com/libusb/libusb/issues/237#issuecomment-265429119 ?

[2021-01-07 01:01] mcuee commented on #838
A STALL packet generally means that the transfer is not supported by the device. In this case, it is a standard USB request on the Control Endpoint (Control transfer). So this is clearly a device problem. But the work-around should be simple, just do not issue the request if it is not needed.

[2021-01-07 01:13] XanaduAPI commented on #717
I see that usbmuxd relies on libusb, and it needs to enumerate USB devices.

Of course, you don't need to help me. In fact, we've switched to other ways now.

By building a tiny Linux hardware system between Android and iPhone, these permission problems can be avoided.

So much for your help. I wish you a happy life.

[2021-01-07 01:18] Peter-St commented on #717
Ok, same too you and good luck in your issue!

[2021-01-07 08:04] tormodvolden commented on #838
The request seems to be supported, as it works fine on Linux and Windows, and on macOS with older libusb. It could be something special about Freek's device, but Gijs' findings lead me to believe there is something with the libusb darwin backend.

[2021-01-08 13:01] pali commented on #237
Sorry, currently I do not have a time for other tests. But as I provided all required information, including how to reproduce it, you can do it too.

[2021-01-09 01:52] mcuee commented on #838
Good point. The device does seem to support the request.

[2021-01-09 04:54] mcuee commented on #838
One potential change in the Darwin backend is related to Issue #455. The change #456 is included in 1.0.23. Related change is #523. All in all, it seems to me the device does not like the changes somehow.

[2021-01-09 06:59] lijiatuYY opened #840 "The new version of linux kernel no longer supports usbfs, how to use libusb in embedded arm development board"
I plan to use libusb-1.0.24 in the embedded arm development board, but the program after cross-compilation fails in the first step libusb_init, and the return value is -99. The reason may be that I am using the 4.9.84 kernel. According to the information found, libusb uses usbfs to access the device, but the new kernel from 4.9.8 no longer supports usbfs, so how should I use it in 4.9.84 What abou

[2021-01-09 09:34] tormodvolden commented on #838
I pointed to exactly these two changes in the dfu-util ticket and asked them to check if they were the cause, but there hasn't been anyone following up.

Is the request sent twice in a row? Is it implicitly sent by another function?

Issuing libusb_reset_device can be delicate in the scope of DFU since it can have its own significance for the device, like going to DFU mode or back to RunTime mode.

[2021-01-09 12:27] mcuee commented on #840
Who told you that? usbfs is still in the latest kernel.
https://elixir.bootlin.com/linux/v5.10/source/drivers/usb/core/devio.c

What you are seeing is different. Please pose the debug log.

[2021-01-09 12:27] mcuee commented on #840
Also this github is for issue reporting. For questions, please go to libusb mailing list.

[2021-01-09 12:52] mcuee commented on #838
Let's copy the report from dfu-util Ticket 86 for easier reference.
https://sourceforge.net/p/dfu-util/tickets/86/

This output is with dfu-util 0.9 and libusb 1.0.20 (suppsed to be true for 1.0.21/1.0.22 as well).
[code]

[2021-01-09 12:57] mcuee commented on #838
Failed log with 1.0.24.

[code]

[2021-01-09 13:14] mcuee commented on #838
Original report.

[code]

[2021-01-09 13:55] tormodvolden commented on #838
The possible device reset (darwin_reset_device) inside libusb_set_interface_alt_setting is a particuliarity of the darwin backend. Why is it needed on this platform? I wish this was explained in the source. Apparently it seems to work out on libusb 1.0.20, but I guess it is the repercussions of this reset that causes something to fail in 1.0.23. This failure ought to be fixed, but at the same time

[2021-01-09 14:27] mcuee commented on #838
Unfortunately libusb_reset_device bahavior is really platform dependant.

Old reference in 2011:
https://marc.info/?t=130832974400003&r=1&w=2

@hjelmn --> please help to look into this. Thanks.

[2021-01-10 06:05] starryalley opened #841 "[android] crash when exiting usb backend when weak_authority=1"
In android I have to set weak authority:
`libusb_set_option(NULL, LIBUSB_OPTION_WEAK_AUTHORITY);`

When unplugging the USB device, the app crashes in the exit callback:
[code]

We should check weak_authority and skip doing the cleanup in op_exit.

[2021-01-10 13:37] mcuee commented on #840
Close for now. Please use libusb mailing list for further support. Thanks.

[2021-01-10 13:37] #840 closed

[2021-01-10 23:08] macfreek commented on #838
I did some more tests with pyusb, basically:

[code]

For now, three confirmations:

* The problem occurs in version 1.0.23, 1.0.24 and git master. It does not occur with version 1.0.19, 1.0.20, 1.0.21 or 1.0.22.
* The problem both occurs with a (disconnected) Prolific PL2303 USB-to-serial cable and a Pycom PyTrack.
* Only `dev.set_interface_altsetting(0, 0)` raised a pipe error in the above versi

[2021-01-10 23:53] macfreek commented on #838
Trying to narrow it down:

* Commit 9a23fe1 from 15 December 2018 at 22:12:07 CET seems to work fine
* Commit 065e586 from 15 December 2018 at 22:26:14 CET seems to fail

So I suspect that commit 065e586 contains the root cause.

[2021-01-11 01:11] macfreek commented on #838
Just letting you know that I was able to do a firmware upgrade with dfu-util, using the fix in PR #843.

[2021-01-11 02:32] hjelmn commented on #838
The reset is required macOS per the IOKit documentation. The PR is the appropriate fix.

[2021-01-11 08:21] macfreek commented on #838
@hjelmn, @mcuee

If you feel confident that this is indeed the correct behaviour, I certainly would appreciate it if the PR would be merged, and perhaps not take too long before releasing a new patch version (1.0.25).

To give an indication of the number of affected users, these are the reports for dfu-util with pycom devices: [pycom-micropython-sigfox#422](https://github.com/pycom/pycom-micropyth

[2021-01-11 09:13] dmitry-zakablukov opened #844 "Access violation in libusb v1.0.24 when using libusbK driver"
Good day!

The following test code crashes with 0xC0000005 error code if libusb v1.0.24 is used for a device with libusbK driver:
[code]

Note that there is no crash if libusb v1.0.23 is used or a device has the WinUSB driver.

I know the problem is in `windows_iocp_thread() / usbi_signal_transfer_completion()` functions: access violation occurs in https://github.com/libusb/libusb/blob/master/libu

[2021-01-11 09:53] fayfive opened #845 "libusb_fill_iso_transfer callback overflow"
I'm using libusb to write a camera driver.
When I am using libusb_fill_iso_transfer,the callback libusb_transfer->iso_packet_desc[i]->status sometime will be overflow.
Is there something wrong? I'm using 720P camera, but libusb_set_iso_packet_lengths can not be malloc larger. I'm using linux.

[code]

[2021-01-11 21:44] jimiking opened #846 "libusb start problem"
i want use libusb in my project for send link and description to android device. but i can not do it. please hint me.

a example for this is easy frp remover 2020

[2021-01-11 22:35] tormodvolden commented on #838
Nathan, do you have an URL to this documentation, if it is public?

Freek, thanks a lot for bisecting and finding the regression.

So to understand this correctly, there is actually a PIPE error from SetAlternateInterface() and device reset, but now the endpoints are found so libusb_set_interface_alt_setting() will return success even if the requested alternate interface was not set?

[2021-01-12 07:30] mcuee commented on #845
Please use libusb mailing list for technical support.

[2021-01-12 07:47] mcuee commented on #846
Please use libusb mailing list for questions.

[2021-01-12 07:47] #846 closed

[2021-01-12 10:26] fayfive commented on #845
@mcuee
Hello, I'm new here. I have confirmed the libusb mailing list. How can I submit the question?
linux kernel is 3.10,0,
usb camera is here.

Connection Status	Device connected
Current Configuration	1
Speed	High (480 Mbit/s)
Device Address	14
Number Of Open Pipes	1
Device Descriptor
Offset	Field	Size	Value	Description
0	bLength	1	12h
1	bDescriptorType	1	01h	Device
2	bcdUSB	2	0200h	USB Spec 2.0

[2021-01-12 10:33] fayfive commented on #845
Sometime, I can receive the mjpeg and save it, but it is not complete. I can see 2/5 picture with ffmplay -f mjpeg

[2021-01-12 12:31] mcuee commented on #838
@tormodvolden Looks like that is true. The device apprarently does not support SetAlternateInterface() properly and the device gets reset.

The following code has not been changed from 1.0.22 to 1.0.23. But it is ineed strange that macOS IOkit will require device reset to recover from a pipe stall error.

[code]
On the other hand, this does have a side effect. Interestingly prior to 1.0.23, the re

[2021-01-12 12:32] mcuee commented on #838
@hjelmn
On the libusb side, not so sure if the following can be done as a potential improvement.
That is to check the current alternative setting and do nothing (most of the cases) if it is already at the correct alternative setting. Majority the device should only have the defaul alt setting 0. And for those which needs to be set a different alt settings, then the device should anyway supports th

[2021-01-12 12:43] mcuee commented on #838
The other thing is probably add a debug message here to warn the user that Set Alternative Interface call has failed and device will reset.

[code]

[2021-01-12 13:36] mcuee commented on #845
https://sourceforge.net/projects/libusb/lists/libusb-devel
Once you subscribe to the mailing list, you can send the email to the mailing list.

[2021-01-12 15:41] tormodvolden commented on #838
@mcuee, the device seems to support libusb_set_interface_alt_setting() since the function returns success on Linux and Windows. But for what I know it can be the backends are hiding a failure there also. And someone with the device can probably confirm that there is no reset on Linux or Windows.

[2021-01-12 15:52] tormodvolden commented on #838
I already worked on a patch to avoid unnecessary alternate settings in the dfu-util, but that wouldn't help towards solving the underlying libusb issue.

IMO the libusb library should not do any check if it is necessary or not but pass on the request from the program. If the device doesn't support it, the error should be propagated back to the program. Normally I would think the program should the

[2021-01-12 21:56] tormodvolden commented on #237
As hjelmn hinted, this is a good way to see what udevd is doing:
[code]
In particular udevd is processing its rules compiled from {/lib,/etc}/udev/rules which might involve running a number of external processes (look for RUN and PROGRAM) in addition to many built-in commands. Since the introduction of "bind" events there can also be many rules that unnecessary are run twice. However I don't know

[2021-01-13 00:23] macfreek commented on #838
All: thanks for taking this up. It's very much appreciated.
I followed up on the suggestion of @mcuee to log a warning if `SetAlternateInterface` fails.

However, the real crux is if the device should be reset by libusb, or if that is the prerogative of the calling software.
* On one hand this is what was done before, and I'm no fan of changing the API.
* On the other hand, that might now have wor

[2021-01-13 00:40] hjelmn commented on #838
@macfreek Yeah. The documentation is poor and I can't remember where I read that it would need to be reset in this case. The code is safe and the PR should get things working again. I will try to determine if is safe to remove the reset at another time.

[2021-01-13 01:41] mcuee commented on #838
@hjelmn I agree with the approach, get the PR merged first and then deal with the removing of reset at another time.

[2021-01-13 01:44] mcuee commented on #838
@tormodvolden

If you look at the log in pull request #843, the call failed with a pipe stall error, so I think the device does not support the call properly. As for libusb Linux backend, it does not do special things, but probably the Linux kernel side is doing something check here. I know Linux kernel USB developers are pretty good at supporting devices with some non-compliances.

[code]

[2021-01-13 01:51] mcuee commented on #838
Apple does not seem to post the newer version of source codes IOUSB family for quite some time.
From https://opensource.apple.com/, we can see the last version of macOS source code with IOUSBFamily is 10.8.4,
macOS versions after 10.9.0 onwards do not have the source codes published for IOUSBFamily.

[2021-01-13 02:07] hjelmn commented on #838
Yup. Really bad move on Apple's part. Especially given 10.9's usb stack had a number of regressions. Had to guess where they screwed up.

[2021-01-13 02:33] mcuee commented on #838
As for whether we need to have 1.0.25 release to address the anomalies for 1.0.24, I think it is a good idea since this macOS issue seems to affect quite some users.

Linux side -- this may affect some users and the fix has been merged.
https://github.com/libusb/libusb/issues/831

Windows side -- not so sure if #844 has a quick fix or not. I will check with Chris.

[2021-01-13 02:36] mcuee commented on #844
@dickens Please take a look at well. Thanks. If possible, we may want to have 1.0.25 release to address #831 and#838.

[2021-01-13 02:46] mcuee commented on #841
This looks correct to me.

[2021-01-13 07:38] pazourek commented on #85
I have a composite device - iface 0,1 = CDC-ACM, iface 2=WinUSB. I created a WinUSB driver as mentioned to replace the CDC driver. Unfortunately I wasn't able to claim an interface 1 when an order of claiming interfaces was 2,0,1. After changing it to 0,1,2 it seems the claiming works as expected.
I just wanted to leave this note here for anybody else who is also trying to get it working.

[2021-01-13 09:02] macfreek commented on #838
Perhaps you read this line in [IOUSBFamily USB.h](https://opensource.apple.com/source/IOUSBFamily/IOUSBFamily-281.4.1/IOUSBFamily/Headers/USB.h):

[code]

[2021-01-13 13:27] tormodvolden commented on #838
If this is the reason behind the device_reset(), it is maybe enough to call darwin_clear_halt().

I don't have a Pycom board to test on, but I tried on a PL2303 USB-serial adapter (which was reported by macfreek to behave the same in this regard) on Linux after unbinding the kernel driver from the USB interface. Indeed there is a PIPE error, and CLEAR_FEATURE requests to each of the three endpoint

[2021-01-13 14:07] mcuee commented on #845
Now the OP has posted in the mailing list. Close for now.

[2021-01-13 14:07] #845 closed

[2021-01-13 14:19] mcuee commented on #838
I agree that a clear halt will be the normal solution to deal with pipe stall. However, in this case, we are not so sure why last time IOkit documentation was saying that reset is needed, so we have to keep the current code as of now. We probably have to deal with potential improvement in another time.

[2021-01-13 14:24] thegecko commented on #86
Shame this has been bumped again.

[2021-01-13 14:41] tormodvolden commented on #838
Yes, so having a reference to this IOkit documentation would be good (I tried long searching for it on the free internet), with a comment in the code.

Further, the code should probably special-case [exclusive access error](https://developer.apple.com/documentation/kernel/iousbinterface/1809615-setalternateinterface) and return appropriate error instead of resetting the device in that case.

Anywa

[2021-01-13 14:46] hjelmn commented on #838
Yeah. That line is familiar. For some reason ClearPipeStallBothEnds was insufficient. At the time DeviceReset was likely what we used for reset and it was (and still is) essentially a no-op (we now use re-enumerate for reset). It is worth trying with ClearPipeStallBothEnds on each pipe and see if that works. I can't check if the darwin kernel is already doing it without looking at the IOUSBFamily

[2021-01-13 14:52] hjelmn commented on #838
Wow, that line is 12 years old. I will have to dig into an old Mac OS X version (10.5 or 10.6) for Xcode to find the documentation I was reading. Probably was still using a PowerBook G4 so probably 10.5.

This is likely the relevant version:

https://opensource.apple.com/source/IOUSBFamily/IOUSBFamily-349.4.3/

[2021-01-13 15:59] dickens commented on #838
Just to add some OS-agnostic info, clearing a pipe stall is only applicable to bulk/interrupt endpoints.  A pipe stall in the case of a failed set interface request would be returned by the control pipe, which never needs to be cleared.  As an observer and non-Mac user, it makes no sense to me why any action would need to be taken if a set interface request failed.

[2021-01-13 16:27] tormodvolden commented on #838
A successful SET_INTERFACE request will also clear all endpoints of the interface. So the Linux kernel will do that if the request fails with PIPE error and would otherwise have been a NOP (only one alternate interface). If there are multiple alternate interfaces the PIPE error will be returned. I assume the darwin backend tried to do something similar, but instead of going through the endpoints i

[2021-01-13 16:34] dickens commented on #838
This affects the entire device, which a set interface call should not do.  This is unfortunate, even if it is the status quo.

[2021-01-13 16:40] hjelmn commented on #838
@dickens I agree. I wish I could remember what the reasoning was but 12 years is an eternity in software. The reset was not present in libusb 0.1.12 so I specifically added it when implementing the libusb 1.0 backend.  It was undoubtedly to work around some issue seen during development. If there was some sort of bug in that version of IOUSBFamily it is likely long gone (since at least 10.9.0 give

[2021-01-13 16:40] hjelmn commented on #838
For reference for when the reset appeared:

https://github.com/libusb/libusb/commit/b49f6bf5c910d0fd694ecf165d7927673707bff9

[2021-01-13 23:00] #838 closed

[2021-01-14 01:30] mcuee opened #847 "Potential libusb_set_interface_alt_setting improvement for macOS"
As mentioned by #838, there is a macOS specific behavior if libusb_set_interface_alt_setting failed with a pipe stall.

[code]

The reset was not present in libusb 0.1.12 so I specifically added it when implementing the libusb 1.0 backend. It was undoubtedly to work around some issue seen during development. If there was some sort of bug in that version of IOUSBFamily it is likely long gone (since

[2021-01-14 01:32] mcuee commented on #838
Wow, that is really the earlier days of libusb-1.0 with Daniel Drake as admin.

I just created a new ticket #847 to capture potential improvement in the future.

[2021-01-14 03:02] hjelmn commented on #838
@mcuee Yup. Been doing this for awhile. Remember discussing the direction to take for libusb 1.0 with Johannes before he handed it off to Daniel. This project is ~ 20 years old now!

[2021-01-14 06:00] dmitry-zakablukov commented on #844
@mcuee , @dickens , I've fixed the problem, please take a look at PR #848.

[2021-01-14 06:02] mcuee commented on #838
Indeed this project is about 21 years old with the first release version of libusb 0.1.0 on 2000-02-16.
https://sourceforge.net/projects/libusb/files/libusb-0.1%20%28LEGACY%29/

I only started with libusb, libusb-win32 and pyusb in Oct 2005 because of the involvement in pickit-devel. Now interestingly I am one of the admins of all three projects even though I am not a developer. Time really flies.

[2021-01-14 07:06] dickens commented on #844
Thanks for the PR but unfortunately your approach isn’t going to work.  It isn’t safe to access the memory surrounding the `OVERLAPPED` pointer without first validating that the pointer originated from within libusb.  I’m working on a proper fix, hopefully by the end of the week.

[2021-01-14 07:25] mcuee commented on #86
No I have not changed the target date of the feature, rather I have added a bug-fix 1.0.25 release first.

But anyway, just for info, the milestone target date is not really binding, it is just a quick estimation. The projects are running by volunteers so it will always be dependent on the time availability of the developer.

[2021-01-14 07:32] mcuee commented on #86
Just FYI on the recent libusb release:
libusb-1.0.22: Mar 25, 2018
libusb-1.0.23: Aug 29, 2019
libusb-1.0.24: Dec 11, 2020

[2021-01-14 07:41] mcuee commented on #86
@Timmmm BTW, the idea of integrate libwdi was discussed and the conclusion is that it is not part of libusb Windows backend. Anyway now libwdi and Zadig are pretty mature and alive with Pete Batard (main libusb Windows developer before Chris) in charge (even though he has more focus on the very popular rufus project).

[2021-01-14 12:50] laran002 opened #849 "libusb_submit_transfer() return LIBUSB_ERROR_NO_DEVICE on MacOS"
I am having some problems with libusb 1.0.24 on MacOS Mojave 10.14.6. The same code works fine on linux and Windows and I am connecting to a vendor class device.. I am thinking this may be related to the handling of vendor class on MacOS.

Now to the point,
- I setup a device, opens a handle and sends a control transfer using libusb_submit_transfer(). all working fine
- When I then submit another

[2021-01-14 13:04] mcuee commented on #849
Please post more details about your device, your codes and the debug log.

[2021-01-14 13:49] bodograumann opened #850 "Regression in libusb 1.0.24 under Linux -- buggy devices with configuration 0"
After an update from libusb 1.0.23-3 to 1.0.24-2 on Arch linux, my SmartCard reader does not work anymore.
I confirmed that it works again after a downgrade.
I am using gnupg with pcscd / ccid and get the following errors:

Device: Bus 001 Device 003: ID 0a5c:5832 Broadcom Corp. 5880

Kernel: Linux 5.10.7-arch1-1 x86_64
Software:
- gnupg 2.2.26-1
- pcsclite 1.9.0-1
- ccid 1.4.33-1

[2021-01-14 18:22] tormodvolden commented on #850
For general debugging, please run the program with the debug environment variable set:
`env LIBUSB_DEBUG=4 pcscd -f -d
`
Of course if you could use git bisect to find which change broke it, it would be great.

[2021-01-14 18:32] dickens commented on #850
I suspect this is the same problem as #825.  Can you please confirm by testing the latest code from the repo?

[2021-01-14 22:13] tormodvolden commented on #847
I have some suggestions at https://github.com/tormodvolden/libusb/tree/darwin_alt_intf
Not yet a merge requests because it wasn't tested much, and there is something going wrong in darwin_clear_halt(): it seems to me that it finds the correct pipeRef's but ClearPipeStall returns "pipe ref not recognized". Maybe I use the wrong parameter or an off-by-one. Ran out of time but maybe someone else spot

[2021-01-14 22:58] hjelmn commented on #847
get_endpoints should be required as the pipes may change.

[2021-01-15 06:00] mcuee commented on #847
One idea I mentioned in #838.

[2021-01-15 06:06] mcuee commented on #847
BTW, I remember there are devices having problem with Clear_HALT feature request as well.

[2021-01-15 06:16] mcuee commented on #847
Of course there is another opinion that libusb should not do any check and the application should check.

However, I think under Windows due to the limitation of WinUSB/libusbK.sys, we actually check for libusb_set_configuration. So probably we can do similar things here for libusb_set_interface_alt_setting() under macOS.

[2021-01-15 06:19] mcuee commented on #847
From #838 by tormodvolden.
----
If this is the reason behind the device_reset(), it is maybe enough to call darwin_clear_halt().

I don't have a Pycom board to test on, but I tried on a PL2303 USB-serial adapter (which was reported by macfreek to behave the same in this regard) on Linux after unbinding the kernel driver from the USB interface. Indeed there is a PIPE error, and CLEAR_FEATURE reques

[2021-01-15 06:22] mcuee commented on #825
Just copy the root cause for the fix here.

Commit e2be556 ("linux_usbfs: Parse config descriptors during device
initialization") introduced a regression for devices with multiple
configurations. The logic that verifies the reported length of the
configuration descriptors failed to count the length of the
configuration descriptor itself and would truncate the actual length by
9 bytes, leading to a

[2021-01-15 06:27] mcuee commented on #850
https://gitlab.freedesktop.org/libfprint/libfprint/-/issues/88
lsusb -vvv result of the particular device.
[code]

[2021-01-15 09:26] tormodvolden commented on #847
To document the observation in the quote above, here is what goes on the wire (Linux, PL2303):
[code]
Is there an equivalent to usbmon on macOS to see what is actually being sent?

[2021-01-15 10:17] bodograumann commented on #850
@tormodvolden Ok, I have put the log here: https://gist.github.com/bodograumann/a8e723aeb160e62d42eff292f4bff4d8
@dickens I think I could build it locally, but how would I go about running pcscd with the locally-built version?

[2021-01-15 10:37] tormodvolden commented on #850
"make install" will probably (depending on options to ./configure) install the libraries to /usr/local/lib, and this will override distribution libraries under /usr/lib. You can also set LD_LIBRARY_PATH if you install it somewhere else. You can verify the correct library was loaded in the debug info, e.g.
`[ 0.000041] [00009e73] libusb: debug [libusb_init] libusb v1.0.24.11584`

[2021-01-15 11:33] bodograumann commented on #850
The problem still persists on master. bisecting lead to this:
[code]

[2021-01-15 12:25] mcuee commented on #847
https://developer.apple.com/forums/thread/95380
https://developer.apple.com/forums/thread/124875
As per the thread, the USB traffic function is no longer available after 10.15, but it is said to be able to work if SIP is disabled.

[2021-01-15 12:45] mcuee commented on #847
Just a side thing, it seems Apple has made big changes after 10.11 for USB.
https://developer.apple.com/support/kernel-extensions/

IOUSBFamily
IOUSBFamily has been deprecated and headers removed from SDK since macOS El Capitan (10.11). All clients should move to IOUSBHostFamily or USBDriverKit, where appropriate and outlined below.

USB Networking
The combination of using IONetworkingFamily KPIs

[2021-01-15 12:50] mcuee commented on #847
https://developer.apple.com/documentation/usbdriverkit
USBDriverKit seems to be the main one.

[2021-01-15 15:40] dickens commented on #850
Can you capture a debug log?

[2021-01-15 15:51] tormodvolden commented on #850
He did above, here are some interesting parts:
[code]

[2021-01-15 15:56] dickens commented on #850
Ah I missed that, thanks.  Can you post the descriptors of the device?  e.g. run `lsusb -v`

[2021-01-15 16:10] dickens commented on #841
Fixed in e78cafb

[2021-01-15 16:10] #841 closed

[2021-01-15 16:11] bodograumann commented on #850
@dickens Sure, here you go: https://gist.github.com/bodograumann/a8e723aeb160e62d42eff292f4bff4d8#file-lsusb-out

[2021-01-15 17:04] dickens commented on #836
Since autoconf is unaware of deployment targets, you have to take care of it manually.  You can invoke the configure script as `./configure ac_cv_func_clock_gettime=no` to force it off.

The other possibility is to complicate the configure script to test the deployment target instead of checking for `clock_gettime()` on Mac.

[2021-01-15 17:24] dickens commented on #850
Ok, here's the problem:
[code]
The fact that it worked before was actually a mistake.  See the comment [here](https://github.com/libusb/libusb/blob/master/libusb/os/linux_usbfs.c#L865).  My commit made the behavior for the sysfs case match the design intent, so I don't know if that fits the pure definition of regression.  However I understand that it is desirable for libusb to support buggy device

[2021-01-15 18:24] parafin commented on #836
Second option sounds better to me, since first one is at best can be called a workaround - it's still a regression compared to how it worked before.

[2021-01-15 19:33] hjelmn commented on #836
I would prefer not to complicate the script since Apple ended support for 10.11.x in 2019. It was released back in 2015. I am not opposed to the check if it could be kept simple.

@parafin How are you setting the deployment target when building? configure should have correctly detected that is not available. Are you using the 10.11 SDK?

[2021-01-15 19:56] parafin commented on #836
Apple stopped shipping older SDKs at some point with Xcode. I'm using Xcode 11.3.1 which includes SDK 10.15.2. I'm building with macports and deployment target is set in macports.conf. I'm not sure how it's exactly handled. configure doesn't detect that it's missing, since it is present in SDK and on the host OS. This situation (newer SDK and older deployment target) usually results in weak linkin

[2021-01-15 20:09] hjelmn commented on #836
You can get the SDK from an older version of Xcode. I do from time to time to check with different SDKs. For 10.11 download Xcode 7 or Xcode 8 (earlier than 8.3.3). Right-click on the old Xcode and select "Show package contents". The SDK is in Contents/Developer/Platforms/MacOSX.platform/Developers/SDKs. You can put this SDK in the same place in the current Xcode version and it will be detected.

[2021-01-15 20:20] hjelmn commented on #836
Oh, thats fun. ```-mmacosx-version-min=10.11``` is not preventing ```clock_gettime``` detection. That isn't right. Digging into it now.

Using the 10.11 SDK would work without this piece working (which should be).

[2021-01-15 20:22] parafin commented on #836
This is a bug if libusb supports macOS < 10.12. And it seems to try to support it, since there is code for older macOS versions. Some people are stuck with older macOS versions because they run it on old hardware, so it would be a pity for them to stop getting updates of the software they use. Of course it will inevitably happen eventually, but I hope not because of such trivial and already unders

[2021-01-15 20:28] parafin commented on #836
So have about adding this to configure check:
[code]
before any includes?

[2021-01-15 21:03] parafin commented on #836
Hmm, actually I can't get MAC_OS_X_VERSION_MAX_ALLOWED (or __MAC_OS_X_VERSION_MAX_ALLOWED) to work. I now remembered that I tried in the past and similarly failed.

[2021-01-15 21:04] hjelmn commented on #836
@parafin Same here. This is weird. I swear just the ```-mmacosx-version-min=``` used to work for guarding against new features.

[2021-01-15 21:05] hjelmn commented on #836
@dickens Has a the necessary changes. Looks like there is no choice to go the complicated route. At some point we will probably clean out that check but it should get you running.

[2021-01-15 21:06] hjelmn commented on #836
And, FWIW, I need to do some backend cleanup. I think there is still some really old macOS stuff in there.

[2021-01-15 21:06] dickens commented on #836
How about the solution in dickens@c032a10?  If there becomes a future need we can refactor to create a more generic version check.  Sucks that the toolchain and headers can't figure this out for us.

[2021-01-15 21:08] hjelmn commented on #836
@dickens Agreed. Thought those macOS version guards would work here. Maybe they did at one point.

I usually just used -isysroot to force a version but it has been some time since I bothered with that. So, maybe it never worked as expected :).

[2021-01-15 21:17] parafin commented on #836
I've checked this solution and it works, thanx!

Amen to that, Apple toolchain sucks.

Just FYI, I'm currently targeting macOS 10.7 for [darktable](https://github.com/darktable-org/darktable/) builds. I don't remember when I've last seen a report from a user staying on that version, but 10.8 I've seen recently (reporting this bug actually).

[2021-01-15 21:36] #836 closed

[2021-01-16 00:57] mcuee commented on #804
BTW, it seems there is no report of similar issues from Dolphin. The code seems to be common.
https://github.com/dolphin-emu/dolphin/tree/master/Source/Core/InputCommon

[2021-01-16 01:02] mcuee commented on #837
The issue is now discussed in the mailing list.

[2021-01-16 01:08] mcuee commented on #782
Just set LIBUSB_DEBUG=4 and then post the debug log.

[2021-01-16 01:19] #844 closed

[2021-01-16 01:30] mcuee commented on #777
With #838 and #831 and a few other issues resolved, probably it is good to prepare for a maintainence release 1.0.25.

[2021-01-16 01:55] mcuee commented on #777
I think #850 will be fixed soon as well.

[2021-01-16 01:56] mcuee commented on #777
Pull request $833 should be in as well.
https://github.com/libusb/libusb/pull/833

[2021-01-16 01:59] mcuee commented on #723
@mringwal Can you try the latest git to see if the issue is still there?

[2021-01-16 02:03] mcuee commented on #782
Please also try the latest git.

[2021-01-16 10:19] tormodvolden commented on #847
I am running into what might be other issues when I test this out with pyusb. Or there is really some resetting in the USB stack needed after the pipe error. I can run dev.set_interface_altsetting(0, 0) once and as described above ClearPipeStall returns "pipe ref not recognized". But if I try it again I get Access denied (insufficient permissions). Calling clear_halt on a pipe now also returns "pi

[2021-01-16 11:06] tormodvolden commented on #847
This is what dev.set_interface_altsetting(0, 0) (with my patches) looks like on macOS 10.13.6:
[code]
I don't know why these CLEAR_TT_BUFFER are generated. They are not generated on a clear_halt.

[2021-01-16 11:55] mcuee commented on #847
What if you try it on a good device which does not generate the pipe stall. Maybe you can compare the wireshark capture.

The IOkit/Driverkit documentation is really bad with the new macOS.

[2021-01-16 12:01] mcuee commented on #847
But if you read that, it is not necessary to issue clear halt command for the Control Endpoint. As mentioned in #838 by Chris, it is not necessary for the Control Endpoint.

https://developer.apple.com/documentation/usbdriverkit/iousbhostpipe/3182649-clearstall

When a bulk or interrupt USB endpoint encounters an I/O error other than a timeout, it transitions to a halted state that you must clear

[2021-01-16 12:18] mcuee commented on #490
https://marc.info/?t=145424689900001&r=1&w=2

I think a good argument could be made that libusb should set RAW_IO unconditionally.  Libusb itself does much of the buffer management that gets triggered in WinUSB when RAW_IO is turned off

[2021-01-16 12:19] mcuee commented on #490
Still it will make libusb Windows which is already complex even more complex.

Using RAW_IO introduces certain complexities for libusb. In
particular, if the provided transfer buffer is not a multiple of the
endpoint max packet size, we have two options:

1) Round the buffer size down to a max packet size multiple. If the
buffer is smaller than the endpoint max packet size, libusb has to
allocate

[2021-01-16 12:29] tormodvolden commented on #847
As I mentioned in the other ticket, the reason I want to send CLEAR_FEATURE to each endpoint like Linux do, is /not/ to clear the control endpoint from the pipe error. It is to emulate as much as possible what would be done if the SET_INTERFACE would be supported by the device. So if the user wants to libusb_set_alt_interface but we see that request fails but would anyway only have reset the endpo

[2021-01-16 12:34] mcuee commented on #847
I see. Thanks.

Maybe it is easier to use test program as per the USBDriverKit documentation and then see the error codes.
https://developer.apple.com/documentation/usbdriverkit/iousbhostinterface
https://developer.apple.com/documentation/usbdriverkit/iousbhostinterface/3182596-selectalternatesetting

[2021-01-17 05:49] mcuee commented on #237
Here is what I get with a 3 year old Acer Swift 3, by plugging a USB to Serial Converter on an external USB 3 hub. Tried a few unplug and plug.

[code]

[2021-01-17 05:54] mcuee commented on #237
This is what udev is doing with one unplug and one plug event.

[code]

[2021-01-17 11:40] tormodvolden commented on #847
I finally found a good solution/workaround: Instead of the full darwin_set_configuration() after the pipe error, I tried removing the SetConfiguration() call (which didn't seem to create any USB request anyway). And the remaining darwin_release_interface / darwin_claim_interface dance is enough to make it work.

What I see in Wireshark now pretty nicely matches what I see on Linux, apart from the

[2021-01-17 13:27] mcuee commented on #847
We will keep this ticket open if the improvement is not merged. Doing "darwin_release_interface / darwin_claim_interface" sounds good to me and it is less intrusive than the current darwin_reset_device.

On the other hand, I still think may idea is worth considering, that is to do nothing and return success if the device is already at the correct alt setting.

[2021-01-17 15:03] tormodvolden commented on #847
The addition of darwin_clear_halt makes it now behave like on Linux. If a device wouldn't handle it, we would have seen problems on Linux.

Because setting the alternate interface even when it is already the current setting has the standard-mandated side effect of clearing all endpoints, I think we should not quietly skip it like you suggest. Many devices have only one setting but support the SET_

[2021-01-18 09:39] mcuee commented on #847
I just read the USB 2.0 Specification 9.4.10. Actually it does not mention the "the standard-mandated side effect of clearing all endpoints". But if you say Linux kernel is doing that, then I agree with you not to skip it silently.

https://www.usb.org/document-library/usb-20-specification

This request allows the host to select an alternate setting for the specified interface.

Some USB devices h

[2021-01-18 09:57] mcuee commented on #237
This is an interesting feature if it is possible.

[2021-01-18 09:59] mcuee opened #853 "Synchronize the relative timestamps from libusb with the absolute ones in the system log"
From here.
https://github.com/libusb/libusb/issues/237

From tormodvolden:

[2021-01-18 09:59] pali commented on #237
Use ISO format for kernel dmesg log `dmesg --time-format=iso -w`

[2021-01-18 13:18] laran002 commented on #849
Please see the complete log, from initialization through the control transfer that fails. I believe the last four lines may spread some light on the problem.

[ 0.021391] [0020e904] libusb: debug [libusb_get_next_timeout] no URBs, no timeout!
[ 0.021475] [0020e904] libusb: debug [libusb_handle_events_timeout_completed] doing our own event handling
[ 0.021500] [0020e904] libusb: debug [handle_event

[2021-01-18 13:26] laran002 commented on #849
I should mention that I am working with a home built device based on atmel Vendor class. Perhaps I can try this using another device, just to verify this is not related to my device.

If someone can point me to a suitable device/class that I can use and suggest some basic control requests I can try out with, that would be helpful.

[2021-01-18 16:47] dickens commented on #849
[code]
The failure seems to be because the `endpoint` field of the transfer is non-zero, which means it is trying to target a control pipe other than the default one which is zero.  I’m guessing the device does not have multiple control pipes.

[2021-01-18 16:53] dickens commented on #853
I guess it depends on which clock the system log uses.

Note that the user also has the option to use a log callback and use an alternate time stamp.

[2021-01-18 17:50] tormodvolden commented on #847
Thanks for looking up this. It is actually in 9.1.1.4:

[2021-01-18 20:43] tormodvolden commented on #237
pali, thanks but since I use above journalctl command, I get the absolute timestamps in ISO format already. Anyway, instead of looking at the relative libusb timestamps, I simply added a timestamp to your test program:
[code]
So in my case your program is notified 15 ms after udevd is notified, and in total 114 ms after the kernel detected something had been plugged in. BTW, the timestamp from you

[2021-01-18 20:58] tormodvolden commented on #237
mcuee's device is more complex with several interfaces and drivers but here are example lines:
[code]
so his numbers are 24 ms and 129 ms.

[2021-01-19 01:31] mcuee commented on #847
Thanks. Good point. Setting the data toggle to DATA0 is kind of important.

Back in 2009, there was a discussion thread on this topic: [Libusb-devel] Set Alternative Configuration.
https://sourceforge.net/p/libusb/mailman/libusb-devel/thread/49E8AAF9.8060808@gmail.com/

[2021-01-19 01:40] mcuee commented on #847
Another interesting thread in 2011. I was dealing with Microchip USB devices with buggy FW (and some say USB SIE implementation) where Data Toggle handling may not be correct and my brutal force method is to call libusb_reset_device to deal with such devices at the end of the program.

https://marc.info/?l=libusb-devel&m=129415457123625&w=4

a libusb file was closed or an interface was unclaimed.

[2021-01-19 01:43] mcuee commented on #847
https://marc.info/?l=libusb-devel&m=129416609706824&w=4

From Alan Stern

what the spec's intended behavior is when a Set-Interface request
leaves the altsetting the same instead of changing it.  The Linux USB
stack assumes the data toggles will all be reset, but it appears that
devices are within their rights not to do so.

[2021-01-19 01:47] mcuee commented on #847
@tormodvolden So you can say USB 2.0 specification is clear when **changing an alternate setting** but it is not clear if **not changing**.

Tim Roberts mentioned that Windows almost never have Data Toggle problem because it seldom sends unsolicited Set Configuration or Set Interface command. Linux has also changed after 2.6.28 by reducing the chances. I am not so sure about macOS.

[2021-01-19 01:51] mcuee commented on #847
So to be pedantic, in this case, the device is already at alt setting 0 and the call is setting alt setting 0 and not changing the alt setting to other value, the device can return a pipe stall (no change of data toggle), or the device may reset the data toggle to DATA0.

[2021-01-19 01:51] mcuee commented on #847
Still in any case, I think it is okay by following Linux behavior.

[2021-01-19 02:02] mcuee opened #854 "Add libusb_reset_endpoint()"
This was actually libusb.org ticket 50.

http://marc.info/?l=libusb-devel&m=128214098411985&w=2

libusb has already clear hat/stall. But the data toggle one does not have.
I think this should be implemented as a best-case-it-will-work-but-not-
guaranteed thingy as per Alan Stern's comment.

[2021-01-19 02:03] mcuee commented on #854
List:       libusb-devel
Subject:    Re: [Libusb-devel] usb_interrupt_read error when launching
From:       Alan Stern <stern () rowland ! harvard ! edu>
Date:       2010-08-18 14:16:00
Message-ID: Pine.LNX.4.44L0.1008181006450.1671-100000 () iolanthe ! rowland ! org
[Download RAW message or body]

On Wed, 18 Aug 2010, Graeme Gill wrote:

On Linux, usb_clear_halt sends an actual Clear-Halt request

[2021-01-19 02:03] mcuee commented on #854
Comment (by hjelmn):

We don't have a per endpoint (or pipe) clear halt/stall. But I agree it
would probably be best to provide a clear toggle (that is all I really
have under OSX to work with anyway). I can do the clear using
ClearPipeStallBothEnds or ClearPipeStall. Descriptions below.

@function ClearPipeStall
@abstract Clears the halted bit and the data toggle bit on the
pipe's endpoint in the

[2021-01-19 04:17] ctj-nooiwa opened #855 "Segfault at libusb_exit() -- libusb crashing on the wrong context"
Segfault occurs at libusb_exit() in my environment.
I can reproduce it and test program is follow.
Proper use is calling libusb_ext with non-NULL context.
But, I think causing segfault with wrongly given NULL context is too harsh.
[code]
Segfault occurs after a few seconds on Fedora 32(Intel i7-9700K CPU, libusbx-1.0.23-1 with
a5624b2: "core: Do not attempt to destroy a default context that doesn'

[2021-01-19 10:02] mcuee commented on #853
Good point. I will leave this open for a while to see if there are more inputs. If not, I will close it.

[2021-01-19 10:04] mcuee commented on #849
Most of the device will only have one Control Endpoint (EP0).

[2021-01-19 10:05] mcuee commented on #849
@laran002 Please post your codes and device descriptor as well. Thanks.

[2021-01-19 10:32] mringwal commented on #723
Thanks for the notification and the update.

With current master/1.0.24, the error does not show up anymore. Excellent!

[2021-01-19 10:32] #723 closed

[2021-01-19 10:38] laran002 commented on #849
Yes, I have the LIBUSB_ENDPOINT_IN bit set in the transfer endpoint. This is the only way I have found it possible to distinguish between in and out transfer in the transfer complete callback function. This does not appear to be a problem on Windows, nor Linux.

I have found a solution that works for me. That is to submit the transfer with EP (0x00) and then set the LIBUSB_ENDPOINT_IN bit directly

[2021-01-19 13:32] mcuee commented on #849
In this case, your application has a bug. When you specify Endpoint Address, direction bit is a must. So you have to use 0x80 for CONTROL IN and 0 for CONTROL OUT.

[2021-01-19 13:35] mcuee commented on #849
Close this for now.

[2021-01-19 13:35] #849 closed

[2021-01-19 13:37] mcuee commented on #849
Please also look into the example codes in libusb repo to see how to use libusb.

[2021-01-19 15:52] dickens commented on #807
This is really a libusbK issue.  The underlying driver is responsible for enforcing mutual exclusion, so I'm going to close this.

[2021-01-19 15:52] #807 closed

[2021-01-19 16:30] laran002 commented on #849
Well, It is when I am using the direction bit that LibUSB fails to submit the transfer, as dickens points out above.

As I interpret the discussion above, this warning should never happen since the endpoint to be opened is 0x00, with the CONTROL_IN bit set, equals 0x80.
[ 1.222636] [0020e847] libusb: warning [ep_to_pipeRef] no pipeRef found with endpoint address 0x80

This code is from ep_to_pipeR

[2021-01-19 16:42] laran002 commented on #849
Yes, the Examples are great. I always use them as a reference.

[2021-01-19 18:15] dickens commented on #849
The default control pipe is bi-directional.  The direction of the transfer is specified in the bmRequestType field of the setup packet.

[2021-01-19 20:29] hjelmn commented on #855
Not sure this is a valid bug. The code is erroneous. You are creating a non-default context (passing a non-NULL value to ``libusb_init```) but then attempting to destroy the default context (```libusb_exit(NULL)```). ```libusb_exit``` has no return value so this is the only way to indicated libusb_exit has failed.

[2021-01-19 20:30] hjelmn commented on #855
I can test to see if this still occurs with a valid version of the reproducer.

[2021-01-19 20:36] hjelmn commented on #855
Nope. Looks fine with both

[code]

and

[code]

in the loop.

[2021-01-19 20:38] hjelmn commented on #855
And to clarify, crashing on the wrong context is the only thing you can expect. You gave an invalid context. Yes, libusb could *not* crash and print out a message indicating what happened but that may still be  missed.

[2021-01-19 21:05] laran002 commented on #849
ok, got it. Thanks!

All works fine when leaving libusb_transfer.endpoint = 0x00 after filling the transfer.

My only concern is that that the behavior differs between the platforms. Is it worth adding a warning if control ep has the direction bit set on the other platforms as well?

[2021-01-19 21:18] hjelmn commented on #849
Do all platforms support multiple control endpoints? I added the support to the macOS backend after encountering a device with two control endpoints.

In this case it definitely is a user error as the endpoint specified did not exist. Not sure what else could be expected?

[2021-01-19 21:30] diabolo38 commented on #849
Multiple control ep  is very uncommon but  as far i remember the spec does not put any limit , any ep can be control.

[2021-01-19 23:12] mcuee commented on #849
To me this is a user problem so we do not need to do anything else. That is why I chose to close the ticket.

[2021-01-19 23:14] mcuee commented on #849
I remember old discussion when libusb-1.0 was started and the conclusion is to fail those wrong Control In request if the user forgot to use the direction bit.

[2021-01-20 01:21] mcuee commented on #855
I agree to treat this as invalid.

[2021-01-20 01:26] mcuee commented on #854
https://github.com/libusb/libusb-compat-0.1

Known quirks/differences from libusb-0.1:
 1. usb_resetep(), a previously deprecated function, is implemented as
    equivalent to calling usb_clear_halt().

[2021-01-20 01:27] mcuee commented on #807
I agree to close this and I think we are covered now that Wiki has been updated.

[2021-01-20 02:13] mcuee commented on #807
Please also take note libusbk project is now marked as unmaintained.
https://github.com/mcuee/libusbk

[2021-01-20 02:26] ctj-nooiwa commented on #855
Thank you for quick response. I understand.
I hope someone notice the wrong usage on this page.

[2021-01-20 06:30] dickens commented on #855
Though the usage detailed in this issue is wrong, libusb is also wrong about how it handles the "default context".  For libusb the "default context" is really the first context.  Thus the original code of
[code]
will work fine because it treats `ctx` as the "default context" since it is the first to be created.  I've always had an issue with this and may now finally be motivated enough to do somet

[2021-01-20 09:11] mcuee commented on #855
Re-open this issue.

[2021-01-20 09:40] mcuee commented on #855
@dickens The improvement proposal looks nice.

[2021-01-20 12:10] ctj-nooiwa commented on #855
@dickens
Thank you for your replay. Your proposal is great.
I was just thinking that the library should not cause a segfault, even if the user misuses it.

[2021-01-21 03:52] mcuee commented on #855
@ctj-nooiwa Actually I do not agree with you on "the library should not cause a segfault, even if the user misuses it".

[2021-01-21 04:52] ctj-nooiwa commented on #855
@mcuee
Thnak you for your reply.
But, why do you think it? I want to know the reason.
Are there any libraries that indicate misuse by segfault ?

In my opinion,
- It is a bug to use usbi_get_context () without holding default_context_lock.
- The libusb no need to indicate misuse. of course, the warning message output is kind.
- If libusb_exit has return value, this segfault is not resolve.

but, I

[2021-01-21 05:25] mcuee commented on #855
Just an example here. Some of the old stuff lingers in my mind so maybe I am biased.
https://marc.info/?t=132468783600004&r=1&w=4

One school of thoughts "Crashing is an inappropriate response to a misuse of a library, especially for what I would consider a system level library".

The other school of thoughts "the library clearly tells you not to do that, crashing is an accepted response if you ar

[2021-01-21 16:41] hjelmn commented on #855
Generally speaking most software I have worked on has either intentionally crashed or not avoided crashing on misuse. I would have preferred libusb had returned that status in libusb_exit but that would require and backwards-incompatible API change. I am with @mcuee in that crashing is probably fine here since you asked libusb to delete something that you never created.

I also agree with @dickens

[2021-01-21 23:31] matallui opened #858 "libusb_handle_events_timeout_completed not waiting on timeout"
This started happening after upgrading from v1.0.23 to v1.0.24.

Calling:
[code]
with tv = 1 second

Before: it would wait 1 second before returning

After: returns immediately, which in our case causes our thread to use 100% CPU

[2021-01-22 01:31] mcuee commented on #858
Please post more details, the OS version and libusb debug log (set LIBUSB_DEBUG=4).

[2021-01-22 02:02] mcuee commented on #849
Basically it is like this.

libusb-1.0 has always required the user to specify the endpoint address, not just the endpoint number.

libusb-0.1 does not require the direction bits actually. So libusb-compat-0.1 was changed to be compatible with libusb-0.1.

libusb-win32 has always required the user to specify the endpoint address, including the direction bits.

[2021-01-22 02:04] mcuee commented on #849
Ref from libusb-compat-0.1 codes.

[code]

[2021-01-22 03:12] ctj-nooiwa commented on #855
@hjelmn
Thank you for your reply.

I think so too.  9a5c688 is very nice.

[2021-01-22 03:48] dickens commented on #858
I think I know the answer to this.  I suspect that a hotplug callback has been unregistered.  A bug was introduced when the event abstraction code was merged that leaves the `USBI_EVENT_HOTPLUG_CB_DEREGISTERED` set in the pending event flags.  This is addressed in #856.

[2021-01-22 05:16] mcuee commented on #858
@matallui Please try out #856 patch to see if the issue goes away. Thanks.

[2021-01-22 06:27] ssroreo opened #859 "libusb_claim_interface returned LIBUSB_ERROR_ACCESS on MacOS 11.1 Big Sur"
hi
i'm using libusb to send data from Macbook to HID device,but my program failed.

`int rc = libusb_claim_interface(dev_handle, 0);
    if (rc < 0)
    {
        printf("failed！%d\n", rc);
        return 0;
    }`

it returned LIBUSB_ERROR_ACCESS.

how to solve this?

can i use libusb in MacOS to send data from macbook to hid devices?

[2021-01-22 07:15] mcuee commented on #859
Please read the FAQ and use HIDAPI instead.
https://github.com/libusb/libusb/wiki/FAQ#Does_libusb_support_USB_HID_devices

[2021-01-22 07:15] #859 closed

[2021-01-22 14:57] matallui commented on #858
Yes! That change seems to have fixed the issue. Thanks you guys!

[2021-01-23 07:10] mcuee commented on #792
Reference:
https://github.com/usb4java/usb4java/issues/81

[2021-01-23 07:12] mcuee commented on #792
@tzah4748 Please help provide the debug log by setting LIBUSB_DEBUG=4.

[2021-01-23 07:13] mcuee commented on #591
Close this item due to inactivity. Please reopen if the latest libusb codes still have the issue.

[2021-01-23 07:13] #591 closed

[2021-01-23 07:15] mcuee commented on #538
Close this for now. Please reopen with more details.

[2021-01-23 07:15] #538 closed

[2021-01-23 07:16] mcuee commented on #437
Please use libusb mailing list for support. Close this for now.

[2021-01-23 07:16] #437 closed

[2021-01-23 07:17] mcuee commented on #426
Close this for now as it does not seem to be needed.

[2021-01-23 07:17] #426 closed

[2021-01-23 07:19] mcuee commented on #244
Close this for now.

[2021-01-23 07:19] #244 closed

[2021-01-23 07:21] mcuee commented on #103
Close this for now due to inactivity. Please reopen if the issue is still there with the latest codes.

[2021-01-23 07:21] #103 closed

[2021-01-23 07:22] mcuee commented on #484
Close this for now. Please reopen if the issue is still there.

[2021-01-23 07:22] #484 closed

[2021-01-24 02:31] wangdaao opened #860 "libusb_interrupt_transfer return-1"
When I use libusb1.0.24 to read and write with the mouse, I always return - 1. The error message is as follows:
libusb: error [hid_submit_bulk_transfer] HID transfer failed: [5] access denied。

[2021-01-24 02:45] wangdaao commented on #860
[timestamp] [threadID] facility level [function call] <message>
--------------------------------------------------------------------------------
[ 0.006621] [00006f90] libusb: debug [libusb_get_device_list]
[ 0.006748] [0000671c] libusb: debug [windows_iocp_thread] I/O completion thread started
[ 0.016820] [00006f90] libusb: debug [winusb_get_device_list] allocating new device for session [77]
[ 0

[2021-01-24 03:58] mcuee commented on #860
Do not use libusb with an mouse. Read the libusb wiki.

And please use libusb mailing list for questions.

[2021-01-24 03:58] #860 closed

[2021-01-24 04:11] wangdaao commented on #860
But I read the mouse, keyboard, U disk and other USB devices are the same situation

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "libusb/libusb"                                                                                    <notifications@github.com&gt;;
发送时间:&nb

[2021-01-24 06:01] mcuee commented on #860
Again, read the Wiki. You need to install the supported driver (eg: WinUSB) in order to use libusb under Windows.

[2021-01-24 06:04] wangdaao commented on #860
Yeah, I've got it. Thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "libusb/libusb"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年1月24日(星期天) 下午2:02
收件人:&nbsp;"libusb/libusb"<lib

[2021-01-24 21:33] jimiking opened #861 "libusb cannot open device in windows"
when i use libusb for listdevice i not have problem. but when i want send data i get error CANNOT OPEN DEVICE

i want fix this error with programmity( not install custom driver with zidag and etc)

i use windows 7-10 (32-64 bit)
and want send data samsung galaxy devices
thank

[2021-01-25 01:30] mcuee commented on #861
Read the Wiki. You need to install the supported driver (eg: WinUSB) in order to use libusb under Windows.
https://github.com/libusb/libusb/wiki/Windows#How_to_use_libusb_on_Windows

And please use libusb mailing list for questions like this.

[2021-01-25 01:30] #861 closed

[2021-01-25 02:24] mcuee commented on #861
If you want to integrate driver installation into your application, you can look into libwdi/zadig here.
https://github.com/pbatard/libwdi/wiki/FAQ#How_can_I_use_libwdi_to_install_a_specific_USB_device_with_an_installer

[2021-01-25 02:30] mcuee commented on #853
Close for now.

[2021-01-25 02:30] #853 closed

[2021-01-25 02:36] mcuee commented on #850
In general I am not that inclined to support non-compliant devices.

However, I agree to support buggy devices if they managed to work in the past. And in this particular case, it is even mentioned in libusb API documentation so we will have to support.
http://libusb.sourceforge.net/api-1.0/group__libusb__dev.html#ga785ddea63a2b9bcb879a614ca4867bed

[2021-01-25 02:38] mcuee commented on #782
@miniLV Please help to try the latest git and post the debug log. Thanks.

[2021-01-25 02:39] mcuee commented on #804
@german77 If possible, please help to see if the issue is still there with latest git and send the debug log. Thanks.

[2021-01-25 02:42] mcuee commented on #690
For HID device, it is recommended to use HIDAPI instead.

[2021-01-25 02:48] mcuee commented on #690
The issue in this case. Please check with latest git to see if that helps. If not, please use HIDAPI.
[code]

[2021-01-25 02:51] mcuee commented on #422
@kuro68k Thanks for the updates. I assume this is no longer an issue in the latest git, right? If that is the case, I will close this issue.

[2021-01-25 02:58] mcuee commented on #237
@tormodvolden Just wondering what the result means. Does it mean there are potentially other issues in the application outside libusb/libudev?

[2021-01-25 03:01] mcuee commented on #729
@inflex Please help to try. If not this issue will be closed due to inactivity. But you can always reopen once you get the time.

[2021-01-25 09:20] kuro68k commented on #422
Sorry I've been really busy and not had time to check it.

[2021-01-25 19:28] tormodvolden commented on #237
The application would probably have worked fine on our machines. But clearly the udev processing adds a lot of time. If the users have slow machines or some unhealthy udev rules they might reach the 300 ms limit. We will just have to wait until someone who is affected by this problem comes back with their logs.

[2021-01-25 19:54] hjelmn commented on #237
@tormodvolden Indeed. I will try to get the option to force netlink but it won't be ready until after the next release. Hopefully that helps this use case.

[2021-01-26 05:16] mcuee commented on #490
Close this for now as we can not change it for now. Feel free to re-open if there are new proposals.

[2021-01-26 11:32] Youw commented on #703
Is that even possible (even in theory)?
You could easily try to stop a transfer right in the middle of the callback. To avoid issues in this case, you either explicitly [wait for complitioon](https://github.com/libusb/hidapi/commit/d2c3a9862eefe2d3f4db0f00c0238277bfb4e44b) or libusb would have to add internal locks/checks whith wouldn't make things any easier for libusb itself, and `libusb_cancel_

[2021-01-28 11:04] xloem opened #862 "Android JNI USB backend"
It's a little hard to quickly review, but it looks like libusb attempts to directly access device files on Android.

A compatible way to support Android would be to use the JNI to do it via Android's supported APIs.

I found somebody started this work in 2012 at https://github.com/SpecLad/libusb-android/blob/android/android/LibusbSupport/src/org/libusb/UsbHelper.java .  There are likely other star

[2021-01-28 14:55] avantgardnerio commented on #862
If you open the device via the regular Android API, you can get the FileDescriptor and use it in libusb with `libusb_wrap_sys_device()`. A bit of a hack, but it works.

[2021-01-28 16:34] evosystems opened #863 "Filter out non-libusb I/O completions breaks Winusb HID API"
commit b51c743e4210756a98f4f60c69a34745e4b27a55 that solved #844 breaks winusb HID API

In windows_winusb.c
 1. in all hid functions usbi_get_device_handle_priv should also be replaced with get_winusb_device_handle_priv
 2. in hid_open() this change is also necessary - "windows_open(dev" replaced with "windows_open(dev_handle"
Even after applying these modifications libusb is still crashing in
`st

[2021-01-29 05:41] mcuee commented on #862
Please help to review the pull request here.
https://github.com/libusb/libusb/pull/830

I do not know much about the inner working of Android but the above pull request will update the Android Readme file and provide an example of using libusb_wrap_sys_device().

[2021-01-29 05:52] mcuee commented on #862
I have also updated the new Wiki page based on the current situation. libusb_wrap_sys_device() is not really considered as a hack. I think it is probably the better way now to use libusb under Android than using unsupported forks. But of course patches are welcome to have better libusb support under Android.

[2021-01-29 05:56] mcuee commented on #862
I have deleted the following entry from the wiki pages as they are unsupported.
- https://github.com/SpecLad/libusb-android (uses Java interface, not updated since 2012)
- https://github.com/kuldeepdhaka/libusb/tree/android-open2
- https://gitlab.com/madresistor/libusb/tree/android

[2021-01-30 01:19] gsmdenis commented on #863
have same problem , very bad

[2021-01-30 02:51] mcuee commented on #863
@gsmdenis Thanks for the report but please do not use words like "very bad".

[2021-01-30 02:54] mcuee commented on #863
BTW, recommendation is to use HIDAPI for Windows.

Actually I have an RFC to remove HID backend from libusb: https://github.com/libusb/libusb/issues/758

[2021-01-30 03:00] mcuee commented on #863
In this case, many thanks to @evosystems to provide the root cause analysis and @gsmdenis to provide the confirmation. Hopefully the fix will be simple.

Still in any case, no change with the recommendation to move from libusb to HIDAPI for Windows users.

[2021-01-30 03:09] mcuee commented on #758
Some history and discussions here: #619

[2021-01-30 03:11] mcuee commented on #758
Comment by Nathan.

[2021-01-30 04:31] mcuee commented on #741
All in all, the current Windows backend is pretty complicated and there is no other active Windows maintainer than Chris (who also takes care of Linux as of now). So please help to provide pull request if you want to improve the Windows backend, including the support of libusb0.sys and libusbk.sys.

[2021-01-30 04:35] hjelmn commented on #741
Indeed. I agree with Pete that it would be more useful to find another Windows backend maintainer. I have no love for the hid backend (it is responsible for many disagreements in this community) but if it is useful to someone and they can pitch in to help it should be fixed. Otherwise I don't know what else we can do. The same goes for any part of the Windows backend. Linux and macOS are near triv

[2021-01-30 04:36] mcuee commented on #758
All in all, the current Windows backend is pretty complicated and there is no other active Windows maintainer than Chris (who also takes care of Linux as of now along with Nathan). So Chris has the say for this topic.

[2021-01-30 04:45] mcuee commented on #237
@rosset @pali Hopefully the above provides enough info for you to confirm if "slow machine" or "some unhealthy udev rules" are the root cause of the issue. And to check if using "netlink" will be the solution.

[2021-01-30 04:54] yshteinm opened #864 "SYSFS_DEVICE_PATH issue"
In Android 10 (and I think 9 too) the follow doesn't work but works on Android 8.

[code]

[2021-01-30 04:57] mcuee commented on #864
https://github.com/libusb/libusb/pull/830
Please take a look at the above pull request and example.

[2021-01-30 05:07] yshteinm commented on #864
Sorry, I am not quite sure which part to look. There are few comments there. I would appreciate if you please can be more specific about steps to take or specific comment to look?

[2021-01-30 09:05] mcuee commented on #864
Please check the example in the pull request.
https://github.com/libusb/libusb/pull/830/commits/fb9c4082a0d1a1f787ab62d124e2e9fa7bda6acc

[2021-01-30 17:38] evosystems commented on #863
Thanks @mcuee
In the initial post, I did not really pinpoint the exact root cause of the problem. Meanwhile, I did more tests, and seems the problem is somehow related to calling usbi_signal_transfer_completion(itransfer);

This is normally called in windows_iocp_thread after checking that the IO operation originated in libusb but is also called in windows_force_sync_completion() for a successful

[2021-02-01 05:50] mcuee opened #865 "Slow enumeration of HID Device under Windows 10"
https://marc.info/?t=161200502000001&r=1&w=4

User report:

But when using libusb or HIDAPI in windows system ,it will hard to open the device ,It will enumerate
the USB device about 5 seconds ,and open by path almost 5 seconds in win10, but work ok in Linux like system
such as ubuntu，kylin， Fedora.

[2021-02-01 05:52] mcuee commented on #865
User debug log:
[code]

[2021-02-01 05:58] mcuee commented on #865
I can see at least two issues here.
1) root hub got problems with libusb
2) HID collection is not supported by libusb HID backend.

[code]

[2021-02-01 17:53] amezin commented on #758
Does it mean that if I'm writing an application interacting with USB HID device, I have to switch to hidapi (if I want it to run on Windows)? What if I want to use async interface (which, as far as I can tell, hidapi does not have)?

[2021-02-01 20:32] hjelmn commented on #758
libusb is not meant for HID and never way. It was a point of contention in the libusb community when the HID backend added for Windows.

The problem is that there is a well defined interface for HID devices and OSs (macOS for one) often grab exclusive access to the device. There are other device types that libusb doesn't necessarily support: mass storage, CDC, etc. For HID we strongly recommend th

[2021-02-01 23:15] #863 closed

[2021-02-01 23:16] dickens commented on #863
This should be resolved.  Apologies for the inconvenience!

[2021-02-02 02:24] mcuee commented on #758
@amezin: yes it is recommended to use HIDAPI. As for missing features from HIDAPI, you can request for the enhancement in hidapi github page.
https://github.com/libusb/hidapi/issues

[2021-02-02 02:46] mcuee opened #866 "Getting the serial number without opening the device handle"
Reference:
There are a few past discussions and recent discussions on getting the serial number without opening the device handle

Past discussion:
https://marc.info/?t=142939771300004&r=1&w=4
https://sourceforge.net/p/libusb/mailman/message/33894596/

Recent discussion: Getting a serial number without opening a handle
Feb 2019: Accessing string descriptors when can't do libusb_open
https://marc.i

[2021-02-02 18:26] german77 commented on #804
I haven't seen more users with the same problem lately

[2021-02-02 18:26] #804 closed

[2021-02-05 01:54] mcuee commented on #864
@yshteinm Does the above address your question? If yes I will close this issue.

[2021-02-05 01:56] mcuee commented on #862
Close this for now.
You can continue the discussion in ticket #717.

If you think #717 is different, please re-open this one.

[2021-02-05 01:56] #862 closed

[2021-02-05 01:59] mcuee commented on #687
Close this due to inactivity.

[2021-02-05 01:59] #687 closed

[2021-02-05 02:00] mcuee commented on #650
Close this for now.

[2021-02-05 02:02] mcuee commented on #31
Close this for now and please use #596 for further discussion.

[2021-02-05 02:03] #650 closed

[2021-02-05 02:07] mcuee commented on #584
@IXMSbhatt and other users, please help to check if 1.0.24 release sorted out the issue. Thanks.

[2021-02-05 02:16] yshteinm commented on #864
So far I have not managed to make it work. You probably can close the issue if it works for other. Anyone can confirm it works?

[2021-02-05 14:40] xloem opened #868 "Automating permissions on Android"
After https://github.com/libusb/libusb/issues/862#issuecomment-773726901 it looks like Android is somewhat supported by libusb, but the user still needs to write some JNI and Java to map between the devices listed in the android api and the actual device handles or files.  I'm opening this ticket just as a way to track and discuss the idea of including that code within libusb itself, as some forks

[2021-02-06 00:05] otavio opened #869 "[regression][1.0.24] Fail to build on older hosts"
We're having issues building 1.0.24 on old Linux releases. We found it using the [Rust bindings](https://github.com/a1ien/libusb1-sys) in a Linux and Windows driver.

We reported it [here](https://github.com/a1ien/libusb1-sys/issues/28) and it seems to be caused by changes in the include order of `sys/socket.h`. The hook can be seen at https://github.com/libusb/libusb/commit/aaff15d48d1b8555aabf01

[2021-02-06 11:21] andrejmz opened #870 "Windows : libusb_get_device_list returns -1 when i plug the device"
Hi

I am trying to retrieve data from an oscilloscope.
Before plugging the oscilloscope i can list the other devices fine:

![devices](https://user-images.githubusercontent.com/53060718/107116759-b6aa2b80-6875-11eb-8e58-5a581a51673a.png)

But once i plug the oscilloscope  libusb_get_device_list returns -1

[2021-02-06 11:34] mcuee commented on #870
Please provide the debug list by setting LIBUSB_DEBUG=4, before and after plug in the oscilloscope.

Please also provide the info about the oscilloscope (USB descriptor) by posting the output from USBView.

[2021-02-06 12:12] andrejmz commented on #870
Before i plug the device:

[timestamp] [threadID] facility level [function call] <message>
--------------------------------------------------------------------------------
[ 0.038893] [00007a6c] libusb: debug [libusb_get_device_list]
[ 0.049863] [00007a6c] libusb: debug [winusb_get_device_list] allocating new device for session [5F]
[ 0.050860] [00007a6c] libusb: debug [winusb_get_device_list] all

[2021-02-06 13:58] mcuee commented on #870
Looks like the device descriptors may have an issue. Unlikely a device will have 10 configurations. Please post the output of USBView.
https://ftdichip.com/utilities/#microsoft-usbview

[2021-02-06 15:08] andrejmz commented on #870
USb view unplugged:

![image](https://user-images.githubusercontent.com/53060718/107121949-6b077a00-6895-11eb-8e40-343fae73f660.png)

USb view plugged:

![image](https://user-images.githubusercontent.com/53060718/107121991-95593780-6895-11eb-8fbf-3819f8c08d55.png)

[2021-02-06 15:30] andrejmz commented on #870
Too bad that the one device i am interested in is the one sc***ing everything ;-)

[2021-02-06 20:00] yorickvP commented on #777
Hi! Great work fixing these issues! I just ran into #831 and spent a lot of time debugging until someone pointed me to the issue. It might be worth it to release 1.0.25 so nobody ends up using 1.0.24 by accident (it's the default in some distros).

[2021-02-06 20:29] andrejmz commented on #870
Any suggestion ?

[2021-02-07 01:34] mcuee commented on #870
Please post the right panel information of the device.
By the way, if your device is using usbser.sys (USB to serial converter driver for USB CDC ACM device) then you should not use libusb but rather you should use the serial API.

[2021-02-07 01:38] mcuee commented on #864
I will close this issue and please use #717 to have the futher discussion.

[2021-02-07 01:38] #864 closed

[2021-02-07 01:49] mcuee commented on #777
I think the following will be good to be included in the 1.0.25 release:
#833 (pending review), #856 (reviewed, pending minor modification of commit message) and #850 (pending review of #851).

[2021-02-07 01:50] mcuee commented on #858
Pending #856 to be merged.

[2021-02-07 02:06] andrejmz commented on #870
Ok i'll try the serial api thanks !!

[2021-02-07 04:10] mcuee commented on #870
The device has a problem with the descriptor "bNumConfigurations:   0x0A". So please contact the device vendor to fix the issue.

For your application, please use serial API.

[2021-02-07 10:47] tormodvolden commented on #777
Please consider #847 (pending review of #852) as well, it appears as a regression.

[2021-02-08 00:59] mcuee commented on #869
How old the Linux version you are trying to support?

The link below refers to another link dated 2011.
https://github.com/a1ien/libusb1-sys/issues/28
Link to the 2011 post.
https://www.spinics.net/lists/netdev/msg171723.html

Take note old Linux version support has been removed in 1.0.24.

[2021-02-08 01:10] otavio commented on #869
In our case, we used Ubuntu 16.04 as the build environment.

[2021-02-08 16:15] a1ien commented on #869
It's strange in ubuntu 16.04 looks like correct header https://packages.ubuntu.com/xenial/linux-libc-dev. Can you upload /usr/include/linux/netlink.h
what version of `linux-libc-dev` (`apt-cache policy linux-libc-dev`)?

[2021-02-08 17:08] #869 closed

[2021-02-08 17:18] dickens commented on #870
FYI the error returned by `libusb_get_device_list()` may be resolved by 851ff404003a26c1e3428b9a1332227173cc124b.

[2021-02-08 18:03] andrejmz commented on #870
Yes

But it seems the device works fine with the software provided with it, despite everything.
How is it doing it i don't know.

Best regards

[2021-02-08 20:06] #850 closed

[2021-02-09 01:27] mcuee commented on #868
Please refer to #717 as well.
https://github.com/libusb/libusb/issues/717

[2021-02-09 01:31] mcuee commented on #777
Thanks to Chris. #833 and #850 have been closed.

[2021-02-09 01:32] mcuee commented on #777
@hjelmn Please help to review #852 and then see if you want to consider that for the release. Thanks.

[2021-02-09 01:42] mcuee commented on #870
Windows driver usually only care about the default configuration. So in this case, your device will be set the first configuration.

[2021-02-09 02:02] mcuee commented on #870
@andrejmz Just want to confirm with you, are you using the latest 1.0.24 release when you generate the debug log.

[2021-02-10 20:44] smx12 opened #871 "libusb_bulk_transfer fails if called inside thread and not using WaitForSingleObject"
I'm writing a DLL that needs to have a non-blocking function to perform bulk transfers. So I create the function start() which creates a thread. The thread functions calls libusb_bulk_transfer but the functions behaves erratically, Here is some pseudo-code of what I'm doing:

[code]

I need to call WaitForSingleObject so that bulk_transfer runs fine but by doing so I'm making start() blocking. Is

[2021-02-11 00:42] mcuee commented on #871
Try using async API and that should help. Sync API is blocking in nature.

[2021-02-11 01:17] smx12 commented on #871
Thanks for your reply, yeah I tried using async and I have the same problems. Is there some example about using async that I could use? maybe I'm doing something wrong.

[2021-02-11 01:31] mcuee commented on #871
https://github.com/libusb/libusb/tree/master/examples
You can take a look at dpfp.c to see if that gives you some ideas.

Or the simpler sam3u_benchmark.c which is a single threaded application.

[2021-02-11 02:51] mcuee commented on #871
This libusb api documentation page may help as well.
http://libusb.sourceforge.net/api-1.0/libusb_mtasync.html

[2021-02-11 02:51] #871 closed

[2021-02-11 21:19] xloem commented on #868
I did some work towards this.
Making java calls from inside libusb to enumerate devices: https://github.com/xloem/libusb/blob/android/libusb/os/linux_usbfs.c#L493
Adding an option to provide a JNIEnv pointer: https://github.com/xloem/libusb/blob/android/libusb/os/linux_usbfs.c#L472

I'm guessing the total work to implement this would be maybe half the work of implementing a new platform.  The perm

[2021-02-12 09:49] serj053 opened #873 "No linking of the 32 bit libusb library on Windows 64"
Dear coders , I have an operating system Windows 10 , 64-bit, who can answer me why the 32-bit library is not linked on a 64-bit machine. I tried both the static library and the dynamic library linker returns an error like this- "undefined reference to 'libusb_get_ss_endpoint_companion_descriptor'". With respect to all .

[2021-02-12 14:21] xloem commented on #717
I submitted #874 to make libusb seamless for my usecase on android.  I'm new to libusb and didn't review the whole api, so if anybody has comments, advice, or can add what's missing onto my work, it's appreciated.

[2021-02-13 01:48] mcuee commented on #873
Which compiler are you using?

Take note the Windows binary provided are more for convenience use and it may not cover all the compilers out there. You may have to build the binary by yourself using you compiler.

[2021-02-13 14:52] xloem commented on #866
I visited hjmallon's repository at https://github.com/hjmallon/libusb but did not find the fork mentioned at https://marc.info/?l=libusb-devel&m=155025463511502&w=4

[2021-02-14 01:39] mcuee commented on #866
I do not think the one materialized in the end.

libusbp from David Grayson claims to have this feature.
https://github.com/pololu/libusbp

[2021-02-15 10:33] hjmallon commented on #866
@xloem I didn't think anyone was very interested. 😄 Let me do some git archeology and PR what I have this week!

[2021-02-15 20:01] imaami commented on #239
This issue is just incorrect. `unsigned char *` is indeed very special on a fundamental level. The C language standard explicitly says a thing or two about memory addressing and pointer types. Please look into it.

[2021-02-15 20:20] hjmallon commented on #866
Here is my change from 2 years ago. I have rebased it on master but this has caused some things to need changing. If you are interested in helping test is (I have no Windows or linux machines atm) please comment on the PR.

https://github.com/libusb/libusb/pull/875

[2021-02-15 23:47] dickens commented on #873
I suspect your link command and/or library path is incorrect.  In any case, I can confirm that the provided libraries are exposing the symbol for `libusb_get_ss_endpoint_companion_descriptor()`, so I'm going to close this issue.  If you find new information suggesting a bug, feel free to re-open this.

[2021-02-15 23:47] #873 closed

[2021-02-18 08:52] smikesmike opened #877 "Access Denied"
Hi,

I've got a Bluetooth dongle, which is not visible in `hidapi`. I am using a MacbookPro with `Big Sur v11.2.1`

Here is the `lsusb` output:

                CSR8510 A10:

                  Product ID: 0x0001
                  Vendor ID: 0x	  (Cambridge Silicon Radio Ltd.)
                  Version: 88.91
                  Speed: Up to 12 Mb/s
                  Location ID: 0x14334000 / 7

[2021-02-18 09:30] mcuee commented on #877
Please log the issue under HIDAPI.

[2021-02-18 09:30] #877 closed

[2021-02-18 09:31] mcuee commented on #877
FYI, libusb under macOS does not support USB HID device at all.

[2021-02-18 13:39] msva commented on #237
@tormodvolden I've kinda affected: I own N900 and faced that issue that days when issue was "fresh".
Also, @l29ah owns n900 too and also affected.

What kind of logs do you need?

[2021-02-18 17:12] tormodvolden commented on #237
@msva We'd need system logs including udev debug output, see https://github.com/libusb/libusb/issues/237#issuecomment-759061537

[2021-02-23 06:34] yyang2021 opened #879 "Will the next version support the detection of USB hotplug under wondows？？"

[2021-02-23 07:31] mcuee commented on #879
Please use the main thread for discussion.
https://github.com/libusb/libusb/issues/86

[2021-02-23 07:31] #879 closed

[2021-02-23 07:34] mcuee commented on #879
Next version will be 1.0.25 for bug fixes. Windows hotplug will most likely be 1.0.26 or later since we do not have enough resource to support Windows. Only Chris is working on Windows now and Windows codes are complicated as of now.

[2021-02-23 07:50] yyang2021 commented on #879
ok,thanks for your hard work.

---Original---
From: "mcuee"<notifications@github.com&gt;
Date: Tue, Feb 23, 2021 15:34 PM
To: "libusb/libusb"<libusb@noreply.github.com&gt;;
Cc: "yyang2021"<1076300429@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [libusb/libusb] Will the next version support the detection of USB hotplug  under wondows？？ (#879)

Next version will be 1.0.25 for bug

[2021-02-23 09:54] Lulz322 opened #880 "Windows: libusb_control_transfer"
**Yo, i want to recreate control transfer request to a mice as seems below**

![image](https://user-images.githubusercontent.com/36892265/108826482-00607900-75cd-11eb-9895-b745cd55d539.png)

I used this code:
[code]
On linux it works correctly, but on windows there are a few errors:
[code]

How to fix that?

[2021-02-23 21:36] diabolo38 commented on #880
I kind of remember some back/end (HID/winusb) may limit control transfer toward interface
and here if think your are doing a control targeting the device (req type => 0x40 for interface it would be 0xx1)

you can try changing your control toward interface or use different back-end
I may have used  such dev control in the past with libusbk back end but am nto 100% sure

[2021-02-24 02:11] mcuee commented on #880
You can not use libusb Windows with a mouse. This is mentioned in the wiki.
https://github.com/libusb/libusb/wiki/Windows#Known_Restrictions
HID keyboards and mice cannot be accessed using the native HID driver as Windows reserves exclusive access to them.

If you want to try it, you can use WinUSB driver for your mouse and then try again. But then it will lose the mouse function.

[2021-02-24 02:11] #880 closed

[2021-02-24 02:15] mcuee commented on #870
Close for now. Please reopen when you provide more info.

[2021-02-24 02:15] #870 closed

[2021-02-25 02:18] mcuee commented on #865
Not getting info from the person who report this issue. Will close for now. Anyway, the recommendation is to use HIDAPI and then if there are issues report to HIDAPI.

[2021-02-25 02:18] #865 closed

[2021-02-26 01:28] mcuee commented on #596
Close this for now. Please reopen if you feel the need.

[2021-02-26 01:31] mcuee commented on #584
I assume the issues have been sorted out in 1.0.24. Close for now. Please reopen if this is not sorted out.

And for Android users, please refer to Pull Requests #830 and #874.

Related discussions:
https://github.com/libusb/libusb/issues/717
https://github.com/libusb/libusb/issues/868

[2021-02-26 01:38] mcuee commented on #729
Close for now.

[2021-02-26 01:40] mcuee commented on #478
Close this for now due to inactivity. Please reopen if more info is provided.

[2021-02-26 01:40] #478 closed

[2021-02-26 01:46] mcuee commented on #96
In this case, I think it is better to close the issue and reopen if the issue surfaces again.

[2021-02-26 01:46] #96 closed

[2021-03-01 02:50] mcuee commented on #86
Basically we need people to help on Windows side as discussed in other issues. Windows backend is a complicated. Chris has already done a great job maintaining the Windows backend after Pete left. And he also deals with Linux side. So hopefully some people will come and help on the Windows side.

[2021-03-02 02:51] pointcloudAI commented on #759
@csorvagep  Do you fix the problem with -12 (LIBUSB_ERROR_NOT_SUPPORTED). I got the same error when using libusb_claim_interface   and libusb_detach_kernal_driver
I  am using  libusb-win32 (1.2.6.0) which installed from Zadig -2.4.exe

[2021-03-02 05:15] mcuee commented on #759
@pointcloudAI You issue is different. Please take note libusb-win32 is a different project. You should not use libusb0.sys with libusb 1.0 Windows. You should use WinUSB driver or libusbk driver when using Zadig.

[2021-03-02 10:07] iliis commented on #596
Why close it? This issue still remains unsolved.

[2021-03-02 10:26] noppej opened #881 "Segmentation fault on 1.0.24"
Hi,  We experienced a segmentation fault that can be reproduced on 1.0.24 simply by running the `examples/listdevs.c` from this repo. I first experienced in on OSX Catalina but another user reproduced it on OSX Big Sur also.
Update: I should mention that this happens irrespective of whether I have any USB devices connected or not.

My XCode reports ...
[code]
... but I think that might be misleadi

[2021-03-02 12:43] mcuee commented on #596
To me this is out of scope for libusb project.

[2021-03-02 12:50] xloem commented on #596
Sounds like there are two separate issues here: norms for linking to this library on android build systems, and providing cmake support in libusb.  It may be possible to install pkg-config in a local prefix for android builds as a workaround.

[2021-03-02 22:55] winterqt opened #882 "Error when hotplugging iOS device"
[code]

libusb version: 1.0.24
OS: Linux

[2021-03-03 02:49] mcuee commented on #881
Is it only with the Xcode project? If that is the case, you can adjust by yourself.

Does this also happen if you use Homebrew? I am using Homebrew and no issues under my Mac Mini M1 Big Sur, either native M1 or Rosetta 2 mode.

[2021-03-03 02:51] mcuee commented on #882
https://github.com/libusb/libusb/issues/831
This should have been fixed in git.

[2021-03-03 02:51] #882 closed

[2021-03-03 03:24] mcuee commented on #596
Enhancements to the Android backend are welcome. Supporting CMake is out of scope. But adding pkg-config script is good.

[2021-03-03 07:11] Yatekii commented on #881
No, this is a bug within the lib apparently. Not the example. You can se it in the mentioned issue. The example/XCode project were just a means to verify that it is not an issue with the Rust crate.

[2021-03-03 10:28] mcuee commented on #881
Please provide the debug log by set LIBUSB_DEBUG=4.

[2021-03-03 11:59] mcuee commented on #881
Just an example run here with libusb 1.0.24 under Mac Mini M1 fully updated, using homebrew.

[code]

[2021-03-03 12:15] mcuee commented on #881
I know nothing about Rust but anyway I just installed rust and probe-rs-cli list and nothing wrong here under my Mac Mini M1.

[code]

[2021-03-03 12:24] mcuee commented on #881
Example run.

[code]

[2021-03-03 12:43] Yatekii commented on #881
Yes, but that is an M1 :)

@noppej and @svenstucki both have it segfault on Catalina and BigSur (Intel HW).

It is fine on Linux. Can't tell for Windows but I haven't heard complaints.

[2021-03-03 13:50] mcuee commented on #881
I have used intel emulation as well without any issues. In any case, please post the libusb debug info using the examples like listdevs.

[2021-03-03 14:36] noppej commented on #881
@mcuee ... I'd be happy to send the logs, but can you please provide me with instructions (just the command line) on how to compile and run listdevs.c with homebrew?

[2021-03-03 14:49] svenstucki commented on #881
@noppej clone the repo, then do the following:

[code]

You also need the xcode command line tools.

---

I ran the examples on my machine (MBP 2020, 11.1) and they don't segfault for me (built like described above - rev bda2344f5e7d460decd3968492faa7a5fb2797cd). However I do have a segfault when running `probe-rs-cli`. Will comment in the `rusb` repo as well.

[code]

[2021-03-03 14:58] a1ien commented on #881
@svenstucki can you clone libusb-sys1 and update sub module
[code]

[2021-03-03 15:08] svenstucki commented on #881
Hi @a1ien - just did that and works fine for me, it lists my devices.

[2021-03-03 16:39] noppej commented on #881
@mcuee I rebuilt with homebrew as you suggested, and now those tests run with the same results as @svenstucki

[code]

[2021-03-03 16:41] noppej commented on #881
Is it fair to assume that the XCode failure was a red-herring, and that I can close this particular Issue for this repo?

[2021-03-03 18:36] Yatekii commented on #881
Yes. The issue is two clashing versions of libusb1-sys.

[2021-03-03 18:37] #881 closed

[2021-03-07 02:09] ehrenmann1977 opened #883 "application crash on init"
I am trying to connect to a usb device but on the init the app crash, i have win 10 with and i disabled the updates to keep fast.

[code]

[2021-03-08 00:24] mcuee commented on #883
If you want to use usbdk, you need to install usbdk. If not, please use WinUSB instead.

[2021-03-08 08:56] thread-liu opened #884 "USB Composite Device [ Entity not found ]"
I have a high-speed USB device, which is a Composite Device (Winusb and CDC). I use libusb(python) to read/write winusb. When I
use the function `libusb.bulk_transfer`, I will receive an error code `Entity not found`. Please give me a help, Thanks!!

**The USB description:**
[code]

**The Python Code**
[code]

**Output log:**
[code]

[2021-03-08 09:24] mcuee commented on #884
You need to use WinUSB as the driver for the full device.

Usually if you need both WinUSB and CDC, you need to use IAD.

[2021-03-08 09:27] mcuee commented on #884
Please refer to the following issue.
https://github.com/libusb/libusb/issues/85

[2021-03-08 10:09] thread-liu commented on #884
Thanks for your help, I can't understand, what the mean about `use WinUSB as the driver for the full device`?

[2021-03-09 18:21] nxpfrankli opened #885 "how libusb and HIDAPI work together"
https://github.com/NXPmicro/mfgtools, uuu use libusb to implement image deployment at nxp boards.
Basically,  use HID talk with chip ROM to download a firmware to boards. Then switch to bulk transfer(andorid fastboot) to download big part.

it worked well on windows and linux machine. but it met claim interface failure at MacOS when HID phase.

Unload HID driver on MacOS need signature key, which

[2021-03-10 00:03] mcuee commented on #885
You should just use HIDAPI instead for HID device if you want it to work under macOS, to save the trouble.

Ref: I actually have an RFC to remove HID from libusb Windows backend.
https://github.com/libusb/libusb/issues/758

[2021-03-10 01:16] bclay1297 opened #886 "Crash in usbi_signal_transfer_completion"
I am attempting to get a USB to DMX controller working with the following code.  Every time I get to the libusb_claim_interface call the program crashes in usbi_signal_transfer_completion which as you can see is not in the code below.  I assume this is invoked by a callback somewhere.  I pulled the basic code example from PiOpenLighting.  I stepped though the code in Visual Studio 2017 and everyth

[2021-03-10 01:23] mcuee commented on #886
You need to mention more about the device (USB descriptors) and driver used (winusb or others). Then please generate the debug log by setting LIBUSB_DEBUG=4 and then run your program.

[2021-03-10 01:26] mcuee commented on #884
Use WinUSB to replace the device driver of the USB composite parent.

Read the Zadig wiki here.
https://github.com/pbatard/libwdi/wiki/Zadig

[2021-03-10 01:29] nxpfrankli commented on #885
The problem is that I have to use the both libusb and hidapi.  Need a method identify that is the same device or the same usb port.

for example, there are two boards A and B with the same chip and connect to one PC.

I can use libusb enumerate all devices and list usb port path, and filter out board A. such as uuu -m 1:10.

Then pass libusb_device_handle to HIDAPI open such device.

[2021-03-10 01:32] mcuee commented on #885
I will say just forget about such a complicated method. Just go with HIDAPI for the chip download stage and libusb for the other stage. libusb will not work with HID device under macOS anyway.

[2021-03-10 01:35] mcuee commented on #885
BTW, just wondering if you can change the CHIP ROM so as not to use HID at all, then you only need to use libusb.

[2021-03-10 01:36] nxpfrankli commented on #885
we have to handle multi devices connect into one PC case.  Board A and Board B is the difference, but use the same chips, the same vid and pid.  How HIDAPI can distinguish A and B?

[2021-03-10 01:37] nxpfrankli commented on #885
We can't change ROM, which is in the chip.

[2021-03-10 01:41] nxpfrankli commented on #885
There are good reason to choose ROM at 10-15 years ago. HID have max compatibility and needn't develop driver for windows and linux.  All chip ROM follow up the the first success ROM.

[2021-03-10 01:48] nxpfrankli commented on #885
unfortunately, our chip have not serial number because windows will add new entry at registry table when new device added.  For manufacturer, they will handle over 100k chips. windows system enumeration will become very slow.

[2021-03-10 01:56] nxpfrankli commented on #885
Actually I have read API documents,  I need a method, how to map hid_device_info with libusb_device.  I need know that's the same port when HID switch to bulk io.

[2021-03-10 02:13] mcuee commented on #885
How about this?
When you Use HIDAPI for the first stage. Close the device. Use libusb for the next stage.

[2021-03-10 03:31] nxpfrankli commented on #885
Thank you for serial number trick. But ROM can't change now.

About close and open at libusb,  there are problem that.

Assume connect two difference boards A and B connect to PC with the same chip.  That's our normal use case for test board farm.

Assume board A connect usb port 1:12, board B connect usb port 1:13.

I can use
          uuu -m 1:12  image_A.
          uuu -m 1:13  image_B.

the uu

[2021-03-10 05:33] mcuee commented on #885
HIDAPI has the API to get HID path. You can ask in the HIDAPI github side to see how to best sort out your issue.

HIDAPI github:
https://github.com/libusb/hidapi/issues

[2021-03-10 05:34] mcuee commented on #885
And maybe you want to ask in the libusb mailing list as well and people may have more ideas in the libusb mailing list.

[2021-03-10 05:49] jlmgtech opened #887 "manpages?"
I understand this is likely going to be an annoying request, so the answer "no" is expected and fine, but I feel I should ask just in case.  libusb 0.x used to have manpages, and I noticed that doxygen is used as the documentation engine for the current incarnation.  A lot of C programmers on posix environments still use terminal environments with editors such as vi that have tight integration wit

[2021-03-10 07:58] hjelmn commented on #887
I don't see any reason we could not generate man pages from the doxygen. Not a huge ask but may take some work if the generated files need any editing. I will mark this as a feature request and we will have to see if anyone picks it up. I may do the work if I find time but it would be after the next release at the earliest.

[2021-03-10 16:32] nxpfrankli commented on #885
Is it possible that libusb return a kernel driver assigned device node path? like /dev/hidraw<n> or /dev/ttyUSB<n>

[2021-03-10 16:56] bclay1297 commented on #886
I was using libusbK  but finally got winusb to work.  Not that I got my
code to work just that it stopped crashing.  I am pretty much shooting in
the dark here.  I self singed the uDMX drive that came with the USB to DMX
adapter (USB\VID_16C0&PID_05DC).  Actually it seems I am still using the
libusbK.dll.  I thought I had removed it but windows apparently reinstalled
it because it is showing up un

[2021-03-10 17:57] Youw commented on #885
`/dev/hidraw` is a kernel assigned path for **_hidraw_**-driver devices. libusb isn't using it. I may not even be presen in the kernel, and libusb would still work.

[2021-03-10 23:58] mcuee commented on #886
[128.947362] [00005ae8] libusb: error [winusbx_submit_bulk_transfer] unable
to match endpoint to an open interface - cancelling transfer

You need to understand the communication protocol in order to use libusb to communicate to your device. Apparently you are not writing to the correct endpoint in this case.

[2021-03-10 23:59] mcuee commented on #883
Please also post the debug log by running your application with LIBUSB_DEBUG=4 set.

[2021-03-11 00:35] bclay1297 commented on #886
How can we determine the correct endpoint?  The debug log showed and
endpoint address of 0xff.  I tried that even though it does not look valid
but it did not help

On Wed, Mar 10, 2021 at 6:58 PM mcuee <notifications@github.com> wrote:

[2021-03-11 03:23] mcuee commented on #886
You have to know which USB ENDPOINT in order to use libusb to talk to the device. If you do not know, then nobody can help you.

If you do not know, then you need to spend the efforts to carry out reverse engineering.

First thing is to get to know the USB descriptors. You can use USBView.
https://ftdichip.com/utilities/

[2021-03-11 03:25] mcuee commented on #886
I will close this issue. This github is more for problem reporting and not for technical support. You can ask in libusb mailing list for further support.

[2021-03-11 03:25] #886 closed

[2021-03-11 03:27] mcuee commented on #885
I am going to close this as this is not an issue for libusb but rather a question. You can use libusb mailing list for further discussion.

[2021-03-11 03:27] #885 closed

[2021-03-11 17:54] jlmgtech commented on #887
Awesome!  Thank you :-)

[2021-03-12 03:09] developerss opened #888 "cataline 10.15 not support"
there is no way to install this plugin in cataline 10.15
it works in 10.13 last /
is there a way i can install cataline 10.15 libusb plugin .,
i tried all ruby and bin bash all failed please show me a new way if possible to install it on 10.15

[2021-03-12 04:40] mcuee commented on #888
Which plugin? You can use homebrew to install libusb under macOS.

[2021-03-12 04:42] mcuee commented on #888
Homebrew lbusb
https://formulae.brew.sh/formula/libusb#default

[2021-03-12 04:42] #888 closed

[2021-03-12 04:43] mcuee commented on #888
If you are talking about Ruby libusb bindings, that belongs to different project.

[2021-03-12 04:45] mcuee commented on #883
Close for now. Please reopen if you can reproduce the issue and post the debug log.

[2021-03-12 04:45] #883 closed

[2021-03-12 04:47] mcuee commented on #884
I will treat this as a duplicate of #85 and close this issue for now. Please reopen if you think the issue is different.

[2021-03-12 04:47] #884 closed

[2021-03-12 04:49] mcuee commented on #792
Close for now. Please reopen when you are able to provide the info and debug log.

[2021-03-12 04:49] #792 closed

[2021-03-12 04:52] #702 closed

[2021-03-12 05:29] developerss commented on #888
thank you for your suggestion  the home brew not run at cataline so without home brew i can install libusb ?>

[2021-03-12 14:51] ehrenmann1977 opened #889 "USB Device not detected in windows"
I have plugged a device and can not detect it, my code is based on the [TestLibUSB.c ](https://github.com/libusb/libusb/blob/master/examples/testlibusb.c) I am showing the difference between detection  with this code and another program. The device not detected is the one marked.
Please let me know how to solve it?
![myusbdetect](https://user-images.githubusercontent.com/31030863/110956283-c329148

[2021-03-12 15:39] ehrenmann1977 commented on #889
I found the solution to it:
1- Use zadiq as shown in figure
![zadiq1](https://user-images.githubusercontent.com/31030863/110962649-7bf25200-8351-11eb-8ae3-2e06bce22460.PNG)
2- use the same program and it will detect it
![newdetection](https://user-images.githubusercontent.com/31030863/110962666-7e54ac00-8351-11eb-9c4d-ea2cb32451af.PNG)

[2021-03-12 15:40] #889 closed

[2021-03-13 07:32] mcuee commented on #888
I do not understand what you say about Homebrew not run under macOS Catalina 10.15. It works fine.

If you do not want to use Homebrew, you can try the XCode project.

Anyway, github is for issue report, not for technical support. Please use libusb mailing list for further support.

[2021-03-13 09:58] developerss commented on #888
home brew not working in Caroline

[2021-03-13 18:05] ehrenmann1977 commented on #883
the issue was compiling the library again with my compiler mingw

[2021-03-14 10:57] mcuee commented on #883
Thanks for the updates.

[2021-03-15 18:09] lerdmann opened #890 "remove "num_iso_packets" from structure "struct usbi_transfer""
"num_iso_packets" is defined in both, "struct usbi_transfer" and also in "struct libusb_transfer".

This can lead to a clash as function "libusb_alloc_transfer" will set the value in "struct usbi_transfer" whereas function "libusb_fill_iso_transfer" will set the value in "struct libusb_transfer" which can lead to a mismatch.

I suggest to change "libusb_alloc_transfer" to :

`DEFAULT_VISIBILITY
st

[2021-03-15 22:35] supercairos opened #891 "Bug with some mass storage usb key bulk transfer timeout"
Hi,

I have a bug with the USB device. A no-name USB disk (Mass Storage) that is not working (and probably many others, I haven't tested lots of devices).
The issue is that some bulk transfer timeout after 20s and then get canceled.

I'm on Windows and manly using USBDK (1.0.0-22) as a backend.
It works with version 1.0.23 but doesn't on 1.0.24.

I've managed to pinpoint the issue to this particul

[2021-03-19 01:27] mcuee opened #892 "libusb and Semantic Versioning"
Ref:
https://github.com/probe-rs/probe-rs/pull/580

[2021-03-19 01:28] mcuee commented on #892
https://semver.org/

Semantic Versioning 2.0.0
Summary
Given a version number MAJOR.MINOR.PATCH, increment the:
- MAJOR version when you make incompatible API changes,
- MINOR version when you add functionality in a backwards compatible manner, and
- PATCH version when you make backwards compatible bug fixes.
- Additional labels for pre-release and build metadata are available as extensions to the

[2021-03-19 01:32] mcuee commented on #892
https://github.com/a1ien/rusb/issues/53

From @Yatekii

[2021-03-22 11:17] geek-slt opened #894 "Qt Creator Failed to use libusb"
Version： QT 5.12  Qt Creator 4.13.1    window10 x64
translater：MSVC2017 64bit
Question:
I used Qt Creator to create a new project and then downloaded and decompressed libusb-1.0.24.7z. But when I used libusb in the project, the problem appeared. No matter how I tried, I couldn’t call the functions in libusb normally. I was on the StackOverflow forum. The query found that many people encountered th

[2021-03-23 11:38] CraigHutchinson opened #895 "Should accept DeviceInterfaceGUID REG_SZ with Unicode null-terminator 0x0000 i.e. 2-bytes"
https://github.com/libusb/libusb/blob/bda2344f5e7d460decd3968492faa7a5fb2797cd/libusb/os/windows_winusb.c#L1589

A device implementing a DeviceInterfaceGUID  field which reports 40-bytes (19+null-terminated unicode characters) is reported as having "unexpected type/size of DeviceInterfaceGUID for '%s'".

The current code only allows the worst case where only a single-byte null is provided. As per

[2021-03-23 16:46] CraigHutchinson opened #897 "windows_winusb not re-enumerating devices while ClassGUID has changes"
The Dfu-Util project causes a reset of a device from DFU-Runtime to DFU-Mode. On windows the WinUSB device `libusb_get_device_list()` backend  re-uses the existing device reporting "found existing device for session [62]" descriptors which causes a bug in that changed/updated device descriptors are not accessible via the LibUsb api: [https://sourceforge.net/p/dfu-util/tickets/110](https://sourcefo

[2021-03-24 08:04] tormodvolden commented on #897
dfu-util bug link should be: https://sourceforge.net/p/dfu-util/tickets/110/

[2021-03-24 08:31] CraigHutchinson commented on #897
This appear to possible be a previously reported issue that was unresolved: https://github.com/libusb/libusb/issues/295

[2021-03-24 08:40] CraigHutchinson commented on #897
In the case of the issue reported here calling `libusb_exit(ctx)` followed by `libusb_init(ctx)` to instantiate a new context is a workaround

[2021-03-25 01:55] mcuee commented on #897
IMHO the ultimate fix will be #86 Windows hotplug support. Before that, it may be difficult to fix.

[2021-03-25 01:58] mcuee commented on #894
Please use libusb mailing list for question like this. Or better ask in QT related forum. This is not a libusb issue.

[2021-03-25 01:58] #894 closed

[2021-03-25 11:33] CraigHutchinson commented on #895
@mcuee Could you or somebody with permission link this to the pull-request #896 Cheers

[2021-03-25 22:59] tormodvolden commented on #897
Craig suggested comparing the ClassGuid. Here is a compile-tested patch, adding ClassGuid to the cached priv and comparing it. Maybe Craig can test it and let us know.

[0001-winusb-Compare-ClassGuid-in-check-for-existing-devic.patch.txt](https://github.com/libusb/libusb/files/6208291/0001-winusb-Compare-ClassGuid-in-check-for-existing-devic.patch.txt)

[2021-03-26 09:24] CraigHutchinson commented on #897
I will review the patch soon and

I will check this asap :)

[2021-03-26 10:12] CraigHutchinson commented on #897
I can confirm this change DID fix the issue :D

 I am not sure this is a 'generic' fix for all occurrences of issues such as this as I m not 100% what the ClassGUID represents here i.e. Does it work because just because in this case the devices is switching between a Composite during RT mode and a different type in DFU mode.

[2021-03-26 10:26] CraigHutchinson commented on #897
I have adjusted the title of the issue to be more specific. That is that re-enumeration isn't happening when the ClassGuid of my device was changed.

It is possible there are other, currently unknown issues for re-enumeration on windows that may be addressed in separate Issue topics as they are discovered.

The proposed patch @tormodvolden works and I made a pull-request with the respective code a

[2021-03-26 11:14] tormodvolden commented on #897
Thanks for the testing. Did you do any changes to my (git-formatted) patch other than splitting it up and adding a comment? Otherwise I see a slight attribution issue here.

For the GUID, I /think/ it will change if the triplet vid/pid/bcdDevice changes and that would already make the difference in your case. Maybe it is also changes with interface changes.

[2021-03-26 11:42] CraigHutchinson commented on #897
So true, comment was only addition I made.

please if you make a pull request with your changes it will be correctly attributed and I will close mine. Cheers.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Tormod Volden ***@***.***>
Sent: Friday, March 26, 2021 11:15:02 AM
To: libusb/libusb ***@***.***>
Cc: Craig J. Hutchinson ***@***.***>; Author ***@***.

[2021-03-26 22:20] tormodvolden commented on #897
From looking into where the ClassGuid comes from, my theory is as follows: The ClassGuid is assigned based on a matching driver or one of the predefined classes. The matching might involve looking at the interface descriptors. Windows will treat a device as new and re-evaluate the ClassGuid assignment if vid/pid/bcdDevice has changed. It would be possible that the ClassGuid stays the same even if

[2021-03-29 03:26] zj1838277795 opened #901 "Which interface can I use to set the baud rate？"
When I connected my USB device to Linux, I could not receive data, timeout, but I connected the USB device to Windows, opened the serial port with the serial port debugging tool, and unplugged the USB device without closing the serial port, and then connected to Linux, I could receive the data. Sending data can be done.
`int main(int argc, char *argv[])
{

    libusb_context *usb_context = nullptr

[2021-03-29 10:18] yyk123 commented on #86
for me, on Windows 10, I use one thread to run monitor and find device every 100ms. and device_attach_process/device_dettach_process function would be invoked in hotplug callback function when on linux  platform
in device_attach_process/device_dettach_process , we can register user callback function.
monitor()
{
while (running)
	{
		if (isSupportHotplug)
		{
			libusb_handle_events_completed(conte

[2021-03-30 14:07] EnochMakenp opened #902 "Pyusb with new version of libusb 1.0 on HID mangling one byte of data on Windows 10"
Using the latest PyUSB, in conjunction with the latest libusb1.0 on Windows 10 (2020-12-11) with an access card reader that behave as a HID device is missing the last byte of data in the ctrl_transfer communication. I'm asking for 8 bytes of data and only 7 are read, which is annoying as I want to read the card UID, coded on 8 bytes...

The code I use in PyUSB is:
[code]
and after this the content

[2021-03-31 03:15] jonasmalacofilho commented on #902
I think there might be a bug in the WinUSB backend.

Specifically, I suspect the handling of the id == 0 case in [`hid_copy_transfer_data`](https://github.com/libusb/libusb/blob/c6a35c56016ea2ab2f19115d2ea1e85e0edae155/libusb/os/windows_winusb.c#L4092).  Before libusb 1.0.24 [`_hid_get_report`](https://github.com/libusb/libusb/blob/c6a35c56016ea2ab2f19115d2ea1e85e0edae155/libusb/os/windows_winusb.

[2021-03-31 03:18] mcuee commented on #902
Just want to clarify, we call this HID backend, not WinUSB.

[2021-03-31 03:18] jonasmalacofilho commented on #902
@mcuee

Thanks, I'll try to remember that in the future.

[2021-03-31 03:22] mcuee commented on #902
@EnochMakenp
One general comments:
We recommend using HIDAPI for HID device.
https://github.com/libusb/libusb/wiki/FAQ#Does_libusb_support_USB_HID_devices
You can use HIDAPI python API here.
https://github.com/trezor/cython-hidapi

If your python code is only for Windows, you can also try to use this.
https://github.com/rene-aguirre/pywinusb

[2021-03-31 03:29] mcuee commented on #901
You need to provide more details about the device by providing the output of "lsusb -vvv".

And if your device is a USB serial port, then it is better you use the Serial API under Linux. Just wondering why you want to use libusb? Is the driver not existing under Windows? What is the Windows driver used?

Apparently you are missing some initiation codes to get the device in proper state. If you do

[2021-03-31 03:32] mcuee commented on #901
If this happens to be a USB CDC-ACM device, here are two examples for your reference. But you should really use the Serial API and not libusb.

https://github.com/tytouf/libusb-cdc-example/blob/master/cdc_example.c
https://github.com/NordicPlayground/node-usb-cdc-acm

[2021-03-31 03:38] mcuee commented on #902
Going back to this paticular issue, just wondering if you can try asking for 9 bytes of data. The handling of report ID 0 (no report ID) is rather troublesome.

[2021-03-31 03:48] jonasmalacofilho commented on #902
The user reported having already tried that.

That probably happens because `hid_copy_transfer_data` gets called with a `length` value that does not comes from the user, but rather the number of actually transferred bytes.

[2021-03-31 05:16] mcuee commented on #902
Not so sure if this HIDAPI issue is somewhat related.
https://github.com/libusb/hidapi/issues/229

[2021-03-31 08:19] EnochMakenp commented on #902
I need to highlight what may be an important point: this code did work before (the original code was developed in 2018) with the same reader. I restarted development 2 weeks ago because we need to incorporate a new type of card reader. but I restarted the program with the old reader for testing (and remembering what I did 3 years ago :-) before going to the new reader and, as I mentioned earlier,

[2021-03-31 09:52] mcuee commented on #902
@EnochMakenp
Thanks for the clarifications.
Just to prove it is an Windows HID backend problem, you can try to use Zadig to change the driver to WinUSB to see if the issue is still there or not. Thanks.

Zadig: https://zadig.akeo.ie/

[2021-03-31 09:55] mcuee commented on #902
FYI we have a few issues and limitations of the Windows HID backend.
https://github.com/libusb/libusb/issues?q=is%3Aopen+is%3Aissue+label%3AHID

And actually I have raised an RFC to remove the Windows HID backend.
https://github.com/libusb/libusb/issues/758

[2021-03-31 09:59] mcuee commented on #94
Ref:
https://github.com/libusb/libusb/issues/741

[2021-03-31 10:21] EnochMakenp commented on #902
I used Zadig and changed the HidUSB v10.0.18362.175 to the WinUSB driver for the HID compliant card reader... and bingo, my code now return the 8 bytes of data from the card !

It seems thus that the problem arises from a conjunction of a change in HidUSB (the version used now seems to appear in 2019, after my initial development knowing the computer where the code runs for enrolment is on WIndows

[2021-03-31 15:39] diabolo38 commented on #902
i had same kind of issue with a custom hid device transfert over hid back that were not correct (desc report id prepend to rd etc..  )
i end up with same solution replaced native backend  with libusbk  a far better option for anyone willing to do more than just getting hid report

[2021-03-31 16:56] achan1989 opened #903 "Deadlock calling libusb_close() within a transfer callback"
The documentation for async completion handling says "The user-specified callback is called from an event handling context. It is therefore important that no calls are made into libusb that will attempt to perform any event handling. Examples of such functions are any listed in the synchronous API and any of the blocking functions that retrieve USB descriptors."

As I understand it, `libusb_close(

[2021-03-31 17:32] jwrdegoede commented on #903
So the issue here is that libusb_close() does:

[code]

But the transfer holds a reference to dev_handle->dev device and it unref-s that reference
after calling the callback:

[code]

So now you have `transfer->callback()` (your code) first doing `free(dev_handle)` and then the: `libusb_unref_device(dev_handle->dev)` call happens dereferencing the dev_handle pointer which now points to free-ed mem

[2021-03-31 18:26] achan1989 commented on #903
This is Ubuntu 20.04

after calling the callback.

Oh, that's troubling.  "luckily" it deadlocked before reaching that point.  I think it's the `ctx->open_devs_lock` in `do_close()`.  The backend code holds `ctx->open_devs_lock` during `op_handle_events()` --> `reap_for_handle()` --> `handle_control_completion()` --> `usbi_handle_transfer_completion()` --> user callback --> `libusb_close()` --> `d

[2021-03-31 20:46] jwrdegoede commented on #903
Thank you for the deadlock analysis, so yes this sounds like a case of: "just don't do that".

If you can provide a patch / pull-req to get the documentation updated to explicitly document this then that would be great.

[2021-04-01 08:31] mcuee commented on #902
Thanks for the updates. From the findings the issue is related to the HID backend.

[2021-04-01 08:33] mcuee commented on #901
Close for now. Please use libusb-devel for further question.

Github is used for issue reporting and not technical support.

[2021-04-01 08:33] #901 closed

[2021-04-05 13:57] lerdmann opened #905 "lisbusb.h: properly pack all USB descriptor definitions taken from the USB spec"
Likely, everyone (libusb implementers and also users) will expect the various USB descriptor definitions to have the original byte packing as defined by the USB spec.

For those descriptor definitions that extend USB definitions, I suggest to align pointers to 8-byte boundaries by adding padding bytes.

I stumbled over this problem when I was using "struct libusb_device_descriptor" in structure "s

[2021-04-05 16:26] LudovicRousseau commented on #905
`struct libusb_device_descriptor` is part of the libusb API so can't be changes without breaking the ABI (application binary interface).
I do not see any benefit from a packed structure for an application.

It should be easy to copy the structure in portable C. No need to expect (or suppose) the structure is 18-bytes long.
What are your motivations exactly?

[2021-04-05 16:34] lerdmann commented on #905
Initial motivation is that my backend reads the device descriptor from the USB device and copies it unchanged to the device descriptor structure which cannot be done if the target structure is not going to be packed.Other motivation is that users might request a raw descriptor from the USB device (like config descriptor) and might attempt to use the descriptor structures to access a field directly

[2021-04-06 01:29] mcuee opened #906 "macOS: implement device capture to force unload of KEXT drivers"
Pull request https://github.com/libusb/libusb/pull/893 has been closed but the idea seems to be pretty interesting.

From the author osy:
It's a well known issue on macOS that you cannot use libusb to attach to an interface already claimed by an KEXT for exclusive access. The common workaround is to do `sudo kextunload` or inject a codeless KEXT. Both require admin permissions, and does not work f

[2021-04-06 01:32] mcuee commented on #905
I do not see the benefits of this idea which breaks the ABI.

[2021-04-06 01:37] mcuee commented on #239
So we should just close this, right? Any objections?

[2021-04-07 02:59] mcuee commented on #905
Close for now. If others have strong opinion for this as well, please re-open.

[2021-04-07 02:59] #905 closed

[2021-04-07 03:01] mcuee commented on #891
Thanks for the finding.

Just wondering why you want to use libusb with a USB Mass Storage device. Thanks.

[2021-04-07 03:09] mcuee commented on #391
Updated the Wiki and then I will close this issue.
https://github.com/libusb/libusb/wiki/Windows#Known_Restrictions

[2021-04-07 03:09] #391 closed

[2021-04-07 03:14] mcuee commented on #690
@hamaluik @toBeGeekNo1
Please help to try the latest version to see if that helps. Thanks.

[2021-04-11 15:33] Gustavomurta commented on #695
Windows 10 X64

- Install msys2     ([https://www.msys2.org/])

- Run msys2 and run command:

**pacman -S mingw-w64-x86_64-libusb**
Reference : [https://packages.msys2.org/package/mingw-w64-x86_64-libusb](url)

- check version of libusb that installed

pacman -Q | grep libusb
mingw-w64-x86_64-libusb 1.0.24-2

[2021-04-12 01:40] mcuee commented on #695
Yes if you use MSYS, libusb-1.0.pc is already there. It is recommended to use pkg-config for libusb if you use MinGW GCC.

https://packages.msys2.org/package/mingw-w64-x86_64-libusb
/mingw64/bin/libusb-1.0.dll
/mingw64/include/libusb-1.0/libusb.h
/mingw64/lib/libusb-1.0.a
/mingw64/lib/libusb-1.0.dll.a
/mingw64/lib/pkgconfig/libusb-1.0.pc

[2021-04-12 01:51] mcuee commented on #695
https://github.com/libusb/libusb/wiki/Windows

Updated the wiki page.

[2021-04-14 03:36] EmptyVisual commented on #777
@mcuee Can we do a partial maintenance release of the Linux regressions in #856 and #858 whilst we wait for the Darwin issues to be reviewed and merged separately?  Most of us Linux users have been forcibly sitting on 1.0.23.0 for months now because of the bugs in the 1.0.24.0 release.

[2021-04-14 03:41] mcuee commented on #777
I think #856 needs to be closed for the release to happen.

[2021-04-14 08:06] tormodvolden commented on #777
+1 for high time to get a maintenance release with regression fixes out. I asked about #852 (Darwin) here two months ago because it is relatively trivial, but this is not a regression fix so please don't let it delay any release. Indeed it can seem like the release is hanging on #856, where the suggested fix is a massive commit with a mix of code refactoring and actual changes, API changes even. I

[2021-04-14 08:30] mcuee commented on #777
#856 fixed #858. So I think #856 is still good to be merged. Nathan already reviewed it and he mentioned just needs to change the commit message. So I think it is better to merge it before the release.

[2021-04-14 08:30] mcuee commented on #777
@dickens Please weigh in as well. Thanks.

[2021-04-14 15:17] programmingkidx opened #908 "libusb_kernel_driver_active() fails on Mac OS 11.1"
I am trying to use an USB sound card in a program. To use it I have to detach the operating system's driver. Before I can do this I need to detect the interface the operating system is using. The libusb_kernel_driver_active() function fails to find the active interface every time. I did a full search from 0 to 255 as the interface number.

[2021-04-15 02:51] mcuee commented on #908
Kernel driver detaching is not supported under macOS.

[2021-04-15 03:11] mcuee commented on #908
On the other hand, libusb_kernel_driver_active() should still work. You need to specify the right interface and you are supposed to know the interface number.

You can use the 'lsusb" utility to dump the descriptor under Linux, USBView under Windows.

There is a fork of "lsusb" under macOS as well. Or you can use the "testlibusb -v" from libusb example.

[2021-04-15 12:05] programmingkidx commented on #908
I tried ever interface number available (from 0 to 255). The USB sound card uses interface 0 to 3. Here is a picture of its information from IORegistryExplorer:

<img width="633" alt="IORegistryExplorer" src="https://user-images.githubusercontent.com/19289541/114866195-4530b100-9dc1-11eb-8271-32ff9624ecc9.png">

[2021-04-15 14:41] supercairos commented on #891
I'm building a USBoverIP tool to communicate remotely with a distant QEMU instance. We use USBREDIR to communicate. It works well for most device but since 1.0.24, It doesnt work with all the USB Mass Storage devices (some works, other don't)

[2021-04-16 02:07] hjelmn commented on #908
Can you provide output with ```LIBUSB_DEBUG=100``. Can't say this feature has been tested in a long long time so it could easily be broken.

[2021-04-16 09:11] programmingkidx commented on #908
Here is the output you requested:

[timestamp] [threadID] facility level [function call] <message>
--------------------------------------------------------------------------------
[ 0.000032] [0000650a] libusb: debug [libusb_init] created default context
[ 0.000048] [0000650a] libusb: debug [libusb_init] libusb v1.0.24.11584
[ 0.000233] [0000650a] libusb: debug [darwin_get_cached_device] finding c

[2021-04-16 09:33] dontech opened #909 "WinUSB ISO packet backend is broken in multiple ways"
Hi Libusb,

As always thanks for your great library.

I have been porting some old applications from libusb-0.1 to libusb-1.x. This works great for e.g. Linux, where int, bulk and iso streams work fantastic in latest libusb.

However, on Windows, the WinUSB backend for ISO packets is more or less unusable in the current state. There seem to be allot of issues:

1) If you keep writing libusb_submit

[2021-04-16 10:49] mcuee commented on #909
There are two more different backend to try for isoc transfer. Please try libusbk.sys driver first to see if that works or not.

There was a past report to say that libusbk.sys works but not winusb for isoc transfer.
https://github.com/libusb/libusb/issues/759

If that still does not work, try usbdk.

[2021-04-16 10:51] mcuee commented on #909
Another reference and potential improvement for WinUSB.

Issue:
https://github.com/libusb/libusb/issues/747

Pull request:
https://github.com/libusb/libusb/issues/759

[2021-04-16 13:40] dontech commented on #909
Hi there mcuee!

Yes, i am finally starting to move to 1.0! I am probably the last man standing on 0.1... :-)
I still use the 0.1 subsystem allot however, because is is just so damn reliable, and the code is easy to change/fix.

For your inquires: I would rather not start using libusbk, but i guess i could do some testing with it, if you think it helps.

I am however fairly sure its the WinUSB bac

[2021-04-16 13:43] dontech commented on #909
#759 seems like a workaround more than a fix, and it seems like the user found a way around some of the issues. It should probably be fixed in the library instead.

[2021-04-16 15:23] hjelmn commented on #908
And of course I never bothered with any logging in that function (except on error). Let me take a look.

[2021-04-17 19:21] programmingkidx commented on #908
I thought of one way to reimplement the libusb_kernel_driver_active() function. We could take the output of "ioreg -Src IOUSBDevice" and parse it. We could search for the name and other properties of a USB device to make sure we have the right one. Then search for IOUSBHostInterface. If there is a child object to it when we know the  interface has an attached driver. Here is what the output of my

[2021-04-19 09:37] mcuee commented on #909
Yes I agree that WinUSB is the way to go as it is supported by Microsoft.

On the other hand, please still test libusbk to see if the issue is generic or only with WinUSB. Thanks.

I think ISOC transfer is more difficult to test. In your case, it is good that you have a known good FW for testing.

[2021-04-20 03:20] hjelmn commented on #908
I see the issue. Will try to fix it this week.

[2021-04-20 03:21] hjelmn commented on #908
At some point Apple changed the hierarchy. Essentially we just need to get the IORegistry child entry of the USB interface entry and check for the property there.

[2021-04-20 04:05] KOLANICH opened #910 "Enable TLS on all the subdomains of libusb.info"
, including api.libusb.info  and log.libusb.info

[2021-04-20 08:36] mcuee commented on #910
api.libusb.info will redirect to http://libusb.sourceforge.net/api-1.0/index.html and I think we have no control over Sourceforge.

[2021-04-20 08:37] mcuee commented on #910
log.libusb.info will redirect to https://github.com/libusb/libusb/blob/master/ChangeLog and it is already using https.

[2021-04-20 08:55] KOLANICH commented on #910
The redirect itself is insecure and adversary can use it to deliver JS-based exploits.

How about using GitHub Pages then?

[2021-04-20 10:30] mcuee commented on #910
Personally I think this is not an important issue. But I will just leave this open.

[2021-04-20 17:14] LudovicRousseau commented on #910
I can access the DNS configuration for libusb.info at https://cp.blacknight.com/
But I am surprised to NOT find any record for log.libusb.info. and api.libusb.info.
![libusb info](https://user-images.githubusercontent.com/398496/115437440-77507180-a20c-11eb-9a59-625d143742c6.png)

I don't understand how these 2 names can be resolved. What am I missing?

[2021-04-23 03:44] mcuee commented on #910
Interesting.
api.libusb.info and log.libusb.info point to the same IPv4 address: 78.153.212.172.

[2021-04-23 17:04] LudovicRousseau commented on #910
And 78.153.212.172 is pemsslpr01.blacknight.com.

I had a look again and I found how it works.
![black](https://user-images.githubusercontent.com/398496/115905270-26d45080-a466-11eb-9f2f-baca88697b4f.png)

We can't use https: for sourceforge.
@KOLANICH what change do you propose exactly?

[2021-04-23 17:44] tormodvolden commented on #910
You can switch the SF site to https (however, \*facepalm\* it means domain name change .net -> .io):
https://sourceforge.net/p/libusb/admin/ext/https/

[2021-04-23 17:54] tormodvolden commented on #910
@KOLANICH here's for you: http://neil.franklin.ch/Save_HTTP/

[2021-04-23 18:50] KOLANICH commented on #910
You can move the website to sourceforge.io, or you can move it to GitHub pages. I feel like moving to GH pages is slightly more preferred, since you are already using GitHub, and pages can be updated using Actions pipelines.

[2021-04-24 09:40] LudovicRousseau commented on #910
- I upgraded sourceforge to use https. The SF web site is now at https://libusb.sourceforge.io and api.libusb.info redirect to the https page.
- I removed the redirection for nabble.libusb.info since this service is no more available.
- I also updated the web site https://libusb.info/ to use https when available.

@KOLANICH Can we  consider the issue to be fixed?

[2021-04-24 10:31] KOLANICH commented on #910
Works, redirects to https://libusb.info/. :+1:

The redirect (to https://libusb.sourceforge.io/api-1.0/index.html) itself is still going over an insecure connection, over https it still is not available. Can anything be done with this?  If nothing can be done to make the server on that domain to support TLS, it can probably be possible to make the server to return the redirect to just `https://lib

[2021-04-24 11:18] LudovicRousseau commented on #910
What do you mean by "The redirect (...) itself is still going over an insecure connection"?

I have:
[code]
So the redirection to https works.

And
[code]
I don't know if we can change that since the redirection is handled by blacknight.com web server.

[2021-04-26 02:15] mcuee commented on #906
New pull request #911

[2021-04-29 10:24] kulkin-fish opened #912 "Segfault with libusbk driver"
analysis-dbg.exe caused an Access Violation at location 000000006B608500 in module libusb-1.0.dll Reading from location 000000000000054C.

AddrPC           Params
000000006B608500 000000002568F930 00007FFD00000004 000000006B62FA50  libusb-1.0.dll!usbi_signal_transfer_completion  [D:/msys64/tmp/libusb-1.0.24/libusb/io.c @ 1734]
  1732:
  1733: if (dev_handle) {

  1735: unsigned int event_flags;

[2021-04-29 10:25] kulkin-fish commented on #912
[libusb-bug.txt](https://github.com/libusb/libusb/files/6397880/libusb-bug.txt)

[2021-04-29 13:57] mcuee commented on #912
Why do you think this is a libusb bug and not the application "analysis-dbg.exe"?

Are you the author of the application? If yes please post the relevant codes.

[2021-04-29 18:14] kulkin-fish commented on #912
#include <libusb-1.0/libusb.h>

int main(int argc, char* argv[]){
  libusb_context* libusbContext = nullptr;
  if(libusb_init(&libusbContext) != LIBUSB_SUCCESS)
    return -1;

  libusb_device** devList = nullptr;
  const int devCount = libusb_get_device_list(libusbContext, &devList);
  if(devCount <= 0){
    libusb_exit(libusbContext);
    return 0;
  }

  for(int i = 0; i < devCount; ++i){
    l

[2021-04-30 17:54] programmingkidx commented on #908
Any progress yet?

[2021-05-01 01:23] mcuee commented on #912
Did you install the supported driver?
https://github.com/libusb/libusb/wiki/Windows#Driver_Installation

[2021-05-01 09:12] kulkin-fish commented on #912
Driver libusbK is installed. As I mentioned above there is no problem with libusb-1.0.23.
[libusb-error-2.txt](https://github.com/libusb/libusb/files/6409272/libusb-error-2.txt)
![libusb-error-2](https://user-images.githubusercontent.com/73362235/116777406-7de5b100-aa76-11eb-8ee6-a9dcd6ee2fa7.png)

[2021-05-04 03:25] mcuee commented on #912
Thanks for the updates. Please help to post the USB Descriptors. That may play a part.

You can use USBView utility or other utilities.
Microsoft USBView:
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/usbview
https://ftdichip.com/utilities/ (small download, FTDI version)

[2021-05-04 03:26] mcuee commented on #912
The other possibility, please switch to WinUSB driver and delete libusbk.dll from the system to see if this issue is applicable only to libusbk or it also applies to WinUSB. Thanks.

[2021-05-04 03:29] mcuee commented on #912
BTW, which MinGW compiler you are using?

Do you use the prebuilt binaries, in that case, please take note that we do not support MinGW.org 32bit compilers. You have to use MinGW-w64 compilers (32bit and 64bit), and you may have to build the binary from source due to compatibilities between different compiler versions.

[2021-05-04 03:35] mcuee commented on #910
Close for now as this is the best we can do for now.

[2021-05-04 03:35] #910 closed

[2021-05-04 12:01] dontech commented on #909
OK, i will try when i find the time.

[2021-05-10 13:42] supercairos commented on #906
Looking forward to this feature.

[2021-05-11 12:12] r4nd0m6uy opened #913 "libusb 1.0.24 uses a lot of cpu in libusb_bulk_transfer under Linux"
I am maintaining a BSP with Yocto on a ARM Linux device. After upgrading Yocto that uses libusb 1.0.24, I noticed that one application uses a lot of CPU.

I'm not a maintainer of the given application (xow) but after some investigation, the issue seems to lie in the _libusb_bulk_transfer_ call:
https://github.com/medusalix/xow/blob/master/dongle/usb.cpp#L111

Downgrading to libusb 1.0.23 fixed the

[2021-05-14 16:37] kczeladko commented on #421
device was connected via usb hub/switch , connecting directly to pc/notebook solve problem, thanks for help @mcuee

[2021-05-15 02:50] hli-luna commented on #86
Is that the sticking point? The translation from one "interface"/"representation" to another?

[2021-05-17 02:23] mcuee commented on #913
Not a known issue. Please post the debug log by running the application with environment variable LIBUSB_DEBUG set as 4.

[2021-05-17 02:23] mcuee commented on #913
You may also want to try the latest git which fixes some critical issues for Linux.

[2021-05-17 07:51] r4nd0m6uy commented on #913
Alright, thanks for the inputs, I will let you know

[2021-05-17 09:58] r4nd0m6uy commented on #913
So I did some tests

The latest git (https://github.com/libusb/libusb/commit/35e8ee98a36143da4d226fc99e95673cea188bb0) shows the same issue.

Version 1.0.23  (working) has only few outputs, most interesting part is the bulk_transfer:

[code]

On version 1.0.24 and git, it explodes the log (log file is 10x bigger). I have the feeling it is doing polling intensively:
[code]

On git, logs are pretty

[2021-05-17 10:05] r4nd0m6uy commented on #913
Not sure if that is relevant but the application handles some UNIX signals (SIGINT, SIGTERM, SIGUSR1)

[2021-05-18 04:58] mcuee commented on #912
@kulkin-fish Please help to test git master to see if the issue goes away. Thanks.

[2021-05-18 18:50] kulkin-fish commented on #912
Indeed master from git has no such bug. But has another one :)
Looks like some deadlock.
![image](https://user-images.githubusercontent.com/73362235/118707220-f09aae80-b822-11eb-8300-0a4192616ee7.png)

[2021-05-19 02:07] mcuee commented on #912
Thanks for the updates. Did this issue happen with WinUSB driver?

[2021-05-19 02:46] mcuee opened #915 "libusb-config --libs is incorrect for static builds"
Ref: https://github.com/libusb/libusb-compat-0.1/issues/15

From jameshilliard

[2021-05-19 02:50] mcuee commented on #915
Close this one. I thought it may also affect libusb-1.0 but apparently it does not.

[2021-05-19 02:50] #915 closed

[2021-05-19 08:39] kulkin-fish commented on #912
![image](https://user-images.githubusercontent.com/73362235/118782576-e87c5680-b896-11eb-804b-2085e160bc8a.png)

[2021-05-19 17:34] photron commented on #912
I tested your minimal example (but changed the VID to match my device) and cannot reproduce the deadlock. But I'm using WinUSB instead of libusbK.

According to your backtrace thread 1 is waiting for the IOCP thread (thread 5 in the backtrace) in the Windows backend to exit. But thread 5 is trying to lock a dev_handle and is blocked there. The question is now who is holding the dev_handle lock, or

[2021-05-19 18:28] kulkin-fish commented on #912
Situation is stable. I can reproduce it every time running application. If comment 'libusb_claim_interface' the problem is not occured. Log is:
![image](https://user-images.githubusercontent.com/73362235/118864059-471df080-b8e8-11eb-8303-4d6fe3362ba2.png)

One more thing. With LIBUSB_DEBUG=4 my DrMinGW popuped with text:
![image](https://user-images.githubusercontent.com/73362235/118864230-73d2080

[2021-05-19 19:53] kulkin-fish commented on #912
Even without LIBUSB_DEBUG i've got the message:
![image](https://user-images.githubusercontent.com/73362235/118875274-85211180-b8f4-11eb-9d38-871b9fbfe797.png)

[2021-05-20 02:37] mcuee commented on #913
Are you able to reproduce the issue at an x86/Amd64 Linux machine? Just want to know if the issue is specific to your Arm Linux build or it is a generic issue.

[2021-05-20 02:39] mcuee commented on #912
@kulkin-fish Please switch to WinUSB driver using Zadig, and see if the issue is still there or not.

[2021-05-20 07:28] r4nd0m6uy commented on #913
It might take me some time but I will let you know

[2021-05-20 08:54] r4nd0m6uy commented on #913
(Un)fortunately, the behavior is the same on X86_64 Linux machine :disappointed: ...

[You can find the logs here](https://r4nd0m6uy.ch/documents/libusb-logs-x86_64.tar.gz). Since my machine is much faster,  be aware that the logs of the git version exploded to 700MB non compressed

[2021-05-21 05:39] mcuee commented on #913
https://github.com/libusb/libusb/pull/856

Please try out pull-request #856. It should fix this issue. It is pending to be merged for 1.0.25 release.

[2021-05-21 07:34] r4nd0m6uy commented on #913
Wonderful, this fixes the problem for me! Thanks a lot, waiting for 1.0.25 release, closing the issue now.

[2021-05-21 07:34] #913 closed

[2021-05-22 10:03] kulkin-fish commented on #912
Confirmed. Switch to WinUSB driver eliminates the problem. Does that mean libusb has no bugs with libusbK?

[2021-05-22 10:15] tormodvolden commented on #897
@CraigHutchinson Maybe you can close your pull request to avoid confusion, thanks.

[2021-05-23 03:37] kevinmehall opened #917 "`libusb_wait_for_event` does not wake after transfer completion, only after `libusb_unlock_events`"
I was trying to implement something resembling `libusb_handle_events_completed` using the low-level APIs following the [example in the documentation](https://libusb.sourceforge.io/api-1.0/libusb_mtasync.html#threadwait).

Simplified and translated from Rust back to C:
[code]

When this runs on two threads waiting for two different transfers (with two different `completed` flags), I see one thread

[2021-05-24 00:39] mcuee commented on #912
Thanks for the updates. So looks like there is an issue with libusbk backend.

Please help to post the debug log with WinUSB as well for comparison. Thanks.

[2021-05-24 00:42] mcuee commented on #897
I have closed #899 and refer to #900.

[2021-05-24 08:08] CraigHutchinson commented on #897
@mcuee Thanks for that, got it sorted before I started back at work :)

[2021-05-24 08:10] CraigHutchinson commented on #897
The associated change #900 rectifies the reported issue.

[2021-05-25 03:32] kevinmehall commented on #917
It seems the missing call to `usbi_cond_broadcast(&ctx->event_waiters_cond)` was removed in a3a4806d494b8ff3dd213d5eb408b657bcdd47f0:

    handling transfer completion. The backend can only make this call
    whilst holding the events lock, therefore it is pointless to send
    this signal. Any threads waiting to be signaled will be woken up
    and will either find that an event handler is still

[2021-05-27 08:42] hperaza opened #918 "Problems with libusb and USB Ethernet extenders"
libusb is unable to list and open devices connected via a USB-Ethernet extender. Specifically, I'm having problems with an EXSYS EX-6002 extender: Windows recognizes the extender, as well as the remote device, and so do other programs (e.g. UsbDeview, printer control programs, etc.). This is what libusb gives:

libusb: warning [enumerate_hcd_root_hub] could not infer VID/PID of HCD root hub from '

[2021-05-27 11:41] mcuee commented on #918
Please post the detail debug log and I am not so sure if the above warning is the real reason.

Please also refer to the past merged patch for another virtual USB device, not so sure if that patch helps you or not. Basically you need to add the list of the virtual hub driver in libusb Windows backend codes first, and then see if there are any things else which needs to be done.
https://github.com/

[2021-05-27 17:08] skelband opened #919 "SANE scanning issues on Big Sur"
At the SANE project we have been having a number of reports of MacOS users unable to scan using USB devices.
This seems to be primarily related to Big Sur but we cannot be sure that it is isolated to it.

We requested a diag log which is attached.

The log indicates that 1.0.24 is in use.
The salient lines seem to be here:
[code]
Related issue at the SANE project is here: https://gitlab.com/sane-p

[2021-05-28 12:16] kulkin-fish commented on #912
![image](https://user-images.githubusercontent.com/73362235/119982529-a1ddd900-bfc7-11eb-9d66-a6df1d2d0080.png)

[2021-05-28 21:40] hperaza commented on #918
Please find the log below. Line @[0.186648] complains about the ancestor not being found for the hub. Windows lists the ancestor as \HTREE\ROOT\0

[ 0.000593] [00007b70] libusb: debug [libusb_init] created default context
[ 0.000810] [00007b70] libusb: debug [libusb_init] libusb v1.0.24.11584
[ 0.002082] [00007b70] libusb: debug [get_windows_version] Windows 7 SP1 64-bit
[ 0.003032] [00007b70] lib

[2021-05-30 11:09] kasperk81 commented on #825
Glad to know this issue is fixed and it's working!
Can we get a new release so distro packages are updated in this quarter?

[2021-05-30 15:31] hjelmn commented on #825
That is the plan. If the process is not started by the end of the week I intend to cut an RC on Friday.

[2021-05-30 22:28] kasperk81 commented on #825
Issue is the released version for past six months is completely broken due to this bug (can't even do the initial handshake). Would be nice to backport this fix to release version (patch version bump), so RC can take its time. Distros do not jump to RC normally.

[2021-05-31 05:58] mcuee commented on #919
Have you tried the latest git head?

[2021-05-31 06:00] mcuee commented on #918
What is the name of the driver for the virtual USB hub? That may help to sort out the issue.

[2021-05-31 09:03] onedrawingperday commented on #919
Hello @mcuee

I am one of the users who reported the problem at the SANE project and contributed the above log.

Unfortunately installing libusb with the latest git HEAD does not solve the problem on my end.

For reference I executed the following commands and got the same I/O error:
[code]

[2021-05-31 09:15] hperaza commented on #918
I believe is "vpcusb".